[2017-11-22 12:12] michzimny opened #16 "Moodle image cannot be built because of fordson theme"
The URL https://github.com/kennibc/moodle-theme_fordson/archive/master.zip used in moodle/Dockerfile returns 404 right now. Our Docker image cannot be built because of this.

[2017-11-29 12:08] michzimny commented on #16
Seems to be fixed by https://github.com/up2university/docker-moodle/commit/07689ccbfc4233cb7257307b492fa6ffe5849ecf

[2017-11-29 12:08] #16 closed

[2017-12-01 11:15] mreyk opened #18 "Can't build: tar (child): moodle-latest.tgz: Cannot read: Is a directory"
On branch `develop`, I've tried a fresh installation with:

[code]

And I've got this error:

[code]

[2017-12-01 12:18] michzimny commented on #18
What version of Docker do you have? I have Docker 17.09 and I don't experience such issue.

Could you try to debug, what do you have in /var/www/moodle-latest.tgz after step 27? Is it a directory path? What's inside?

[2017-12-01 12:37] mreyk commented on #18
[code]
Docker containers are not up, so I can't see the content of `/var/www/`.

[code]

And in localhost:

[code]

[2017-12-01 12:50] michzimny commented on #18
Please comment out or remove from moodle/Dockerfile the all lines after "ADD https://... /var/www/moodle-latest.tgz", and then try:
[code]

If it's a directory, then the question is why?

If it's an archive, then why the subsequent command:
`cd /var/www; rm -rf /var/www/html; tar zxvf moodle-latest.tgz`
fails?

[2017-12-01 12:58] mreyk commented on #18
It's a directory:

[code]
It's weird, because I've downloaded the file to local and it's a tgz file.

I've removed the folder and tried again. Same issue happened. Is it possible that this line:
[code]
Is downloading and decompressing the file?

[2017-12-01 13:56] michzimny commented on #18
ADD command has a function of decompressing, but docs say:
"If <src> is a local tar archive in a recognized compression format (identity, gzip, bzip2 or xz) then it is unpacked as a directory. Resources from remote URLs are not decompressed."
https://docs.docker.com/engine/reference/builder/#add

So, that file should not be decompressed by ADD as it is downloaded from a remote URL.

@athird, any i

[2017-12-01 14:06] michzimny commented on #18
The quick workaround is to replace this ADD line with:
[code]

Please do it locally.

AFAIK people don't recommend using ADD, but it is how we've forked the sources from somewhere. We shall think about replacing ADD with COPY/RUN-wget.

[2017-12-01 14:52] mreyk commented on #18
That fixes the error. Thank you very much!

[2017-12-06 12:46] michzimny opened #21 "Unexpected error when logging out from production instance"
When I log out from the production instance, I get to edugain page with message "unexpected error" (translated to my language). However, when I get back to Moodle, I'm properly logged out.

[2017-12-06 15:02] elinara opened #22 "Moodle starts on ipv6."
Moodle in docker container starts on ipv6 - how to prevent it? Docker we using on Ubuntu 16.04.
Ipv6 on host is disabled.

netstat -tln
------------------------------------------------------------------
tcp6       0      0 :::80                   :::*                    LISTEN
tcp6       0      0 :::443                 :::*                    LISTEN

ifconfig
br-bd06f6a312e0 Link encap:Ethernet  H

[2017-12-06 15:38] michzimny commented on #22
I think it's rather Docker thing than an issue of this Moodle.

https://docs.docker.com/engine/userguide/networking/default_network/ipv6/

[2018-01-16 15:14] #18 closed

[2018-01-16 15:14] #22 closed

[2018-01-16 20:07] michzimny opened #24 "The main authentication backend suggested"
Now, it's hard to reach the "Login via SAML2" button. Shoudn't we provide it at the front page, instead of the username and password fields for local Moodle authentication? Users should not try to fill up those fields, but rather go to SSO.

[2018-01-24 09:58] michzimny opened #29 "Enable cron"
We should enable cron to have the logstore_xapi plugin (and probably other things) working properly. Is it to be done manually on each instance?

[2018-01-24 10:02] athird commented on #29
I think we can create and enable cron jobs in the Dockerfile or entrypoint script, wouldn't that be OK?

[2018-01-24 10:03] michzimny commented on #29
Sure, it would be good.

[2018-01-24 10:40] athird commented on #29
@michzimny I *think* that if you know what the appropriate cron job definition is, and add it to moodle/crontab in the branch 'enable_cron' (https://github.com/up2university/docker-moodle/tree/enable_cron), it *should* then start appropriately.

[2018-01-24 11:12] michzimny commented on #29
Shouldn't we just put there something like "php /var/www/html/admin/cli/cron.php" to simply run all Moodle cron jobs?

[2018-01-24 11:17] athird commented on #29
Good idea. Daily?

[2018-01-24 15:51] athird commented on #29
@michzimny Latest commit should work, I think, to run the Moodle cron tasks

[2018-01-24 16:11] michzimny commented on #29
Thanks!

[2018-01-24 16:11] #29 closed

[2018-01-29 13:59] foobarable commented on #24
Hi, I configured it like this already in the test instance. Its one simple configuration issue.

[2018-01-29 13:59] michzimny commented on #21
It will be irrelevant when GWDG SSO is integrated with the production instance.

[2018-01-29 13:59] #21 closed

[2018-01-29 14:01] michzimny opened #31 "Externalize Moodle configuration"
... to have the config expressed in environmental variables and easily portable between environments.

It might be critical before the incoming big merge for production. Without this, it might be hard to properly move the necessary configuration from test to production.

[2018-01-29 14:04] michzimny commented on #24
Thanks, it seems that it's ok now.

[2018-01-29 14:04] #24 closed

[2018-01-29 14:05] foobarable commented on #24
(I can't configure it in the production instance since I don't think i have access there)

[2018-01-29 16:07] michzimny commented on #31
Found in Trello, probably relevant:
Dockerfile for predictable installations. Site configuration customisations exported and reused via, e.g., https://moodle.org/plugins/block_admin_presets

[2018-01-29 16:19] athird commented on #31
Coincidentally I've just been working on this with Nadav, I'm just about to send an email round asking for input from tool contributors for actual configurations. :-)

[2018-01-29 16:21] michzimny commented on #31
Great! 👍

[2018-02-08 15:05] michzimny opened #32 "Hide errors in production"
Could we ensure that errors won't be shown to users in production? With a simple message instead?

For instance let's hide something like this (in production):
https://github.com/up2university/single-sign-on/issues/8

[2018-02-09 00:18] athird commented on #31
Committed stuff to the auto_config branch - would you be able to test it using the env files from the private repository, please? They need to be in /envs/ mounted inside the moodle and mysql containers, and configured by

docker-compose exec moodle /configure.sh
docker-compose exec mysql /configure.sh

(in that order)

[2018-02-13 16:23] michzimny commented on #31
I have locally tested the configuration of "test" instance.

For a fresh instance it ends up with some errors:
https://pastebin.com/n6ncAMwr

Produced no output.

SSO seems not to be set up, probably because of the aforementioned errors.

Can these scripts be run over and over again? I would see them be added to images' entrypoints to be run on every start of a container. We probably want instance

[2018-02-13 16:32] michzimny commented on #31
I pushed some minor changes to your branch: https://github.com/up2university/docker-moodle/commit/703d1d3dcd6799894be056bb28abf136c0803842

I think we should also:
* file up envs/ with some template config files
* move current .env to envs/common.env or similarily

[2018-02-13 16:51] athird commented on #31
Those errors are weird, I can't think why it would be trying to insert session data. I'll try to reproduce them here. And look into why SSL doesn't work.

If MySQL configure.sh script works, there shouldn't be any output from it.

As it is, they can't quite be run again and again, because they'll create duplicate entries for, e.g., the various repositories, but I'm tidying that up right now. I ini

[2018-02-14 09:32] michzimny commented on #31
Sorry, I meant to fill up the 'envs' directory in the repo with some templates.

I just reproduced on a fresh instance with the same errors.

[2018-02-14 11:51] athird commented on #31
Ah, OK, thanks. Yes, I'll add some templates.

Try the latest commit, it should fix the setup error with a fresh instance.

SAML2 still isn't working, but I think I know what's wrong - we need to force it to download the IdP metadata (easy), and extract the arguments that Moodle passes to openssl to generate certificates for it (not quite as easy but not hard). There'll still need to be a manual s

[2018-02-14 14:13] michzimny commented on #31
It seems I get the same errors with the latest commit and with a fresh instance.

[2018-02-14 14:40] michzimny commented on #31
Ah, I haven't updated my Docker images correctly after last commits. Testing again...

[2018-02-14 14:59] athird commented on #31
OK, hope it works this time.

Most recent commit should now have SSO configured properly (pending whitelisting), though not yet set as default displayed login method. (That's a one-line change, though.)

[2018-02-14 15:58] michzimny commented on #31
I get very similiar errors with the most recent commits:
https://pastebin.com/fXEEchj6

[2018-02-14 16:18] athird commented on #31
How about now? Sorry...

[2018-02-14 20:42] michzimny commented on #31
After the recent changes (the log has changed a little bit):
https://pastebin.com/ECj3CVCZ

[2018-02-15 16:25] athird commented on #31
Are you sure your images were updated again? I can't reproduce it this time. If it helps, I've just pushed some additions to the env files on the other repository, but the main thing that fixed this error should be in the latest in this branch.

[2018-02-15 18:28] michzimny commented on #31
I've just used the recent updates from the env repo (config files of "test" instance). I've deleted all Docker images and then downloaded the recent for auto_config branch. I've run a fresh instance and get:
https://pastebin.com/TtxfsQUv

[2018-02-16 10:59] michzimny opened #36 "Problems with surname after log in via SSO in production"
I've authenticated to https://learn.up2university.eu/ via SSO for the first time. My surname is missing although it's rather set in Google:
![missing-surname](https://user-images.githubusercontent.com/1483196/36304668-c310df94-1310-11e8-98bc-05add70dbf76.PNG)

[2018-02-16 11:27] michzimny commented on #36
But when I log in via eduGAIN I have even to much data in the surname field:
![extra-surname](https://user-images.githubusercontent.com/1483196/36305645-b712a3d6-1314-11e8-99d3-9f05df034bc2.PNG)

[2018-02-16 11:48] athird commented on #36
How does it look now? It was set with common name to be set for the surname field instead of surname, I've updated it in the configuration.

[2018-02-16 14:53] athird commented on #31
OK, I was able to reproduce it, could you try the latest commit, please?

[2018-02-16 15:43] michzimny commented on #36
It's ok now, thanks!

[2018-02-16 15:43] #36 closed

[2018-02-16 16:01] michzimny commented on #31
The scripts passed this time!

In the env repo you have some 'localhost' in the files of 'test' instance.

[2018-02-16 16:18] athird commented on #31
Excellent! Ah, thanks. I've just fixed that.

[2018-02-19 16:38] michzimny commented on #31
How about running the configure scripts multiple times? Can we call them from Docker's entrypoints?

[2018-02-20 08:59] ebocchi opened #39 "Unable to access learn.test.up2niversity.eu"
I am unable to log in to the test Moodle instance.
Could it be due to the externalization of Moodle configuration?
https://github.com/up2university/docker-moodle/issues/31

Upon clicking on Log In (top right), I get an unhandled exception:
![screenshot from 2018-02-20 09-58-13](https://user-images.githubusercontent.com/16349448/36415035-bbe7d90e-1624-11e8-977e-068cf24b182c.png)

[2018-02-20 09:05] michzimny commented on #39
The same happens for me.

No, externalization is not yet present at this instance.

[2018-02-20 11:55] athird commented on #39
@fubarable? I suspect this relates to the same issue that @nadavkav has been having too. [SSO issues](https://github.com/up2university/single-sign-on/issues)

[2018-02-20 12:13] michzimny commented on #39
@athird, you meant "foobarable" but he's not yet added to the project (an invitation awaits).

The same happens in learn2.test, however in production it works fine.

[2018-02-20 12:23] athird commented on #39
Ah, I did, thanks!

Strange, I haven't changed anything in the SSO configuration on either of those since we enabled it, and it worked then.

[2018-02-20 12:25] michzimny commented on #39
Yesterday I merged https://github.com/up2university/docker-moodle/pull/37 what causes deployments to those two instances but it seems rather unrelated.

[2018-02-20 12:37] athird commented on #31
OK, so it's fine to run them multiple times, but running them from Docker entry points seems sometimes to go wrong, due to what seem to be timing issues between the mysql and moodle images (moodle trying to run things when the db isn't ready). Would it be too much of a pain just to have the deploy script call 'docker exec ...' for both containers?

[2018-02-20 12:41] athird commented on #39
I can't see any differences in the configurations.

[2018-02-20 23:27] nadavkav commented on #39
Yep. have same issues.
Yesterday and today, I ran some test with our IUCC IDP team and it seems some of the attributes are not passed with the certificate. with the new authentication page. but if we used the old one it works fine. and also when we use the up2university.eu (wordpress) we are able to login successfully.

I have installed https://chrome.google.com/webstore/detail/saml-chrome-panel/p

[2018-02-21 09:05] foobarable commented on #39
Hi, ill check the logs.

[2018-02-21 09:08] foobarable commented on #39
I haven't changed anything as well, though. Could you give me the exact time you tried?

[2018-02-21 09:31] foobarable commented on #39
@athird @michzimny Did the certificate of the moodle instance maybe change? Its really not a good idea to use letsencrypt certificates for encrypting the SAML messages. You can use self signed and more persistent certificates though.

[2018-02-21 10:28] michzimny commented on #39
@foobarable, it happens all the time. Please go to https://learn.test.up2university.eu/ and click "Log in" in the top right corner.

The last cert renewal took place on 29th January.

It's more complex issue about letsencrypt certs. I send you an email.

[2018-02-21 10:36] foobarable commented on #39
Problem is that simplesamlphp can't decrypt the SAML message it is getting and thus fails to auth. In my experience it's 99% a certificate error in the metadata. (Mismatch between actual cert and cert from metadata)

[2018-02-21 10:54] michzimny commented on #39
Ok, thanks. So @athird needs to check the cert used for SAML encryption.

[2018-02-21 11:05] athird commented on #39
Yup, just been looking. I've no idea what did this, it *looks* like someone clicked the Regenerate Certificate button in the Moodle admin interface. I can't restore the previous cert. as it seems the private key was overwritten with the new one.

@foobarable Can you update the metadata on your side to use the new ones, will that fix it? If it does/will, then I'll lock the cert. files on Moodle to

[2018-02-21 11:07] michzimny commented on #39
I can restore something from backups if needed. But I'm not whether it can be easily extracted from a backup.

[2018-02-21 11:10] athird commented on #39
They're in /var/moodledata/saml2, if that helps - I think that's kept externally to the container, right?

[2018-02-21 11:29] athird commented on #39
@michzimny Thanks, yes, it does - I've copied those files back in and it's taking me to the SSO login page now. Can you 9and anyone else following this thread) check it from your sides just to make sure, please?

Thanks,

Allan

[2018-02-21 11:33] ebocchi commented on #39
Hi @athird
I get the SSO login page but no luck when I get redirected back to moodle:
![screenshot from 2018-02-21 12-32-11](https://user-images.githubusercontent.com/16349448/36477960-4fb424ec-1703-11e8-8a0e-40b81acda940.png)

It happens both with EduGain and Google.

[2018-02-21 11:40] michzimny commented on #39
I get something similiar.

[2018-02-21 11:52] foobarable commented on #39
Yepp, same here. Are you sure you didn't change anything at the SP configuration?

[2018-02-21 12:16] michzimny commented on #31
It's ok to call configure.sh from a deploy script.

PR for this issue: #40.

[2018-02-21 12:47] michzimny commented on #31
#41

[2018-02-21 13:01] athird commented on #39
I'm sure, and I just checked and can't see anything. I'm going to email you (@foobarable) some log output.

[2018-02-21 13:03] foobarable commented on #39
I already turned on the debug mode on sso to see the SAML messages. So far nothing really suspicious

[2018-02-26 09:23] #31 closed

[2018-02-27 09:21] foobarable commented on #39
We have a patch for the issue but waiting for our test instance to be avaibable in the edugain AAI so we can test if it fixes the issue.

[2018-02-28 11:04] michzimny opened #44 "Disable duallogin option by default"
It seems that duallogin option in SAML2 settings is set to "Yes" by default. We rather want to change it to "No" by default, to bring people directly to SSO after clicking "Log in" at the main page.

I cannot find the variable in .env files. We should set the default value in env templates and in the env repository.

I just changed it manually in the dev instance.

[2018-02-28 11:18] athird commented on #44
OK, I've just added the ability to change it via env file locally to the docker-moodle config & templates and the dev env file - I'm reluctant to push yet until the SSO is sorted out, but once that's done, I will. :-)

I think we should, for a short while, leave it enabled in the dev instance, though, it's really convenient when testing SSO - we can disable it by changing the env file once we're h

[2018-02-28 15:03] michzimny commented on #44
Yes, sure.

[2018-02-28 15:24] foobarable commented on #39
Issue was solved by removing the EPTID from the SAML response.

[2018-03-01 13:44] michzimny opened #47 "Problems with "RUN add-apt-repository ppa:ondrej/php""
At every build this step in Dockerfile outputs the following error. However its exit status is probably 0, and this is why the build is not interrupted.

I'm not sure if we need this step and if the error is expected.

[code]

[2018-03-01 14:25] athird commented on #47
What happens if you replace it with "RUN LC_ALL=C.UTF-8 apt-add-repository ppa:ondrej/php"?

[2018-03-01 15:13] michzimny commented on #47
Then I get the same warnings but the exception and traceback are missing.

I add the change to #48.

[2018-03-01 16:18] athird commented on #47
OK, I guess we'll have to have the warnings until apt-add-repository gets fixed, then. If it's building OK, then we should be fine. :-) Thanks!

[2018-03-01 16:23] #47 closed

[2018-03-02 10:21] michzimny commented on #39
The problem seems to be solved for learn.test.up2university.eu

[2018-03-02 10:23] michzimny opened #49 "The uploaded file exceeds the upload_max_filesize directive in php.ini"
I get this message when I try to upload a 3MB-large file. It seems that the limit it too low.

Could we have this setting as an environmental variable?

[2018-03-02 10:25] athird commented on #49
Where are you uploading a file to, and what for? I *think* that that limit only applies to files going to Moodle's internal storage, which we should only really be using for, e.g., branding images, etc.

[2018-03-02 10:36] michzimny commented on #49
I'm uploading either to "Private files" or via the file picker when adding content to a course. Let's assume I'm a teacher and want to create a course using my local files.

It would be ok for me if the Moodle's internal storage is not used by teachers and other users. But how to ensure this way?

Please also have a look at that thread: https://trello.com/c/dwjSbrFn

[2018-03-02 10:58] nadavkav commented on #39
Indeed, I do not see that problem, but I still can not login :disappointed:

[2018-03-02 10:59] foobarable commented on #39
Why can't you login?

[2018-03-02 11:08] nadavkav commented on #39
Here is a screen capture clip of what I am experiencing for two weeks now:
https://youtu.be/gOdXQcerTZQ

[2018-03-02 12:01] foobarable commented on #39
[code]

[2018-03-02 15:12] nadavkav commented on #39
Thank you @foobarable , I will look into it with our IT the maintain the IDP

[2018-03-02 15:15] foobarable commented on #39
Maybe I should implement a filter for it to throw the attribute away if its not in the valid form.

[2018-03-02 15:27] nadavkav commented on #39
That could be useful. can you?

[2018-03-02 15:30] foobarable commented on #39
Yes, will try it in the test system. Don't want to do it on the production instance. Nevertheless, please check the attribute from your side as well.

[2018-03-02 15:36] nadavkav commented on #39
I already sent an email to our IT about it, but we are already on the weekend and I will get an answer on sunday afternoon, the earliest.

[2018-03-02 17:12] michzimny opened #51 "Category auto enrol - a missing button to course creation"
At https://learn-dev.test.up2university.eu/, I enrolled to teacher_course_A as a non-admin user. I'm able to build and visit an URL to the creation form of a new course. However, I cannot find any button that brings me to course creation.

Am I missing something?

Is any action of the admin needed to have the button for regular users?

Being an admin, I can see the large button in the home page (a

[2018-03-02 17:23] michzimny opened #52 "Course creator can list all users"
As a regular user with the course creator role in a category, I can list all the users with their email addresses. I go to a course I've created and choose "Enrolled users"->"Enrol users".

Can we disable at all listing users not assigned to a particular course or at least users not belonging to course creator's category?

[2018-03-03 12:42] nadavkav commented on #51
Hi Michal,
You are probably right about "I cannot find any button that brings me to course creation.", as I was not thinking about this from a pov of a non experienced user, and was expecting the users to go to the category of the school and find the "create course" button.
I will update the plugin with a new feature, that display the button inside the block and also a link to the category. and ho

[2018-03-03 12:49] nadavkav commented on #52
There is not a option for this in Moodle, as far as I can tell.
Moodle enrollment dialog always show all the not enrolled into the current course user list in the entire system. when using manual enrollment.
If we turn it off and only use cohort enrollment... then we have to add students to cohorts and not to courses. which is a different flow (than the one in which a teacher adds users to the cou

[2018-03-04 07:37] orenshani7 commented on #39
Hi, I am the IT guy...

@foobarable , can you send me the entire SAML correspondence as it looks from your side? Please send to oshani@iucc.ac.il

Thanks,

Oren

[2018-03-05 10:21] foobarable commented on #39
[ x ] Done

[2018-03-05 12:28] nadavkav commented on #39
![snapshot228](https://user-images.githubusercontent.com/231168/36975038-7b07a8ee-2081-11e8-8ad4-256a2be0fb17.png)

[2018-03-05 12:29] foobarable commented on #39
I just meant I sent @orenshani7 the SAML message

[2018-03-05 13:26] michzimny commented on #51
I think the button would make life easier.

However, how to reach course creation by going to the category of the school? The only way I found seems to be quite complex.

[2018-03-05 13:43] michzimny commented on #52
I just asked our work package that is in charge of such issues to make a decision whether it is a problem for us or not.

To my knowledge, GDPR requires to design solutions in such a way that the user data is processed (e.g. presented to someone) only if it is really needed. I think showing email addresses to teachers from other countries does not comply with that. But maybe we are able to defend

[2018-03-05 20:58] nadavkav commented on #52
To make it a little bit more clear, just hiding the email in most places and maybe all around the system is something we can do, but not the ability to see user's names when looking for enrolling new students into courses. (unless, on a later stage of the project we move entirely to enrollment based on external SIS platforms, with no manual course enrollments)
Searching though the admin settings f

[2018-03-05 21:00] nadavkav commented on #51
I uploaded a PR: https://github.com/up2university/docker-moodle/pull/54

[2018-03-06 09:36] michzimny commented on #52
I think that hiding email addresses would be a good improvement. However let's wait for the opinion of our GDPR experts. I can be wrong, and the current state might also be fine.

[2018-03-06 10:19] michzimny commented on #51
Thanks.

[2018-03-06 10:19] #51 closed

[2018-03-06 17:03] nadavkav commented on #52
Also, let's wait for the tools Moodle HQ will release in a few weeks. as it
should be solving some if not all of our issues and concerns.

On Tue, Mar 6, 2018 at 11:36 AM, Michał Zimniewicz <notifications@github.com

[2018-03-07 15:37] michzimny commented on #52
We discussed this issue during MT call today. Peter asked to disable the option to manually enrol users into the course, and only allow create enrollment keys.

Are there any other places where our users (excluding us, the administrators) could see the list of all users in Moodle?

[2018-03-07 20:53] michzimny opened #57 "Language-related PR made deployments interactive"
https://github.com/up2university/docker-moodle/blob/b231f6e770ddf891b52862dd1440d7c1ad8012ad/moodle/config/moosh-moodle.sh#L13
Unzipping language packs asks questions interactively:
[code]

[2018-03-07 21:17] nadavkav commented on #52
BTW, going through security issues DB:
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-15110

Maybe we should link our github repo to https://snyk.io/

[2018-03-08 08:05] athird commented on #57
That's really weird, the "-u" flag stopped that happening locally. Anyway, I've just pushed a fix to the languages branch and I'll raise a PR for it now.

[2018-03-08 09:35] michzimny commented on #57
Different versions of unzip maybe?

[2018-03-08 09:37] athird commented on #57
Could be, but inside Docker, it should always be the same version. The
latest commit should just bypass the issue anyway.

On Thu, 8 Mar 2018 at 09:35 Michał Zimniewicz <notifications@github.com>
wrote:

[2018-03-08 09:39] michzimny opened #59 "Change tooltip text on the text editor toolbar"
@vasilg reports:

[2018-03-08 09:53] michzimny commented on #57
It works.

[2018-03-08 09:53] #57 closed

[2018-03-08 10:12] michzimny commented on #59
I was not aware, ok.

[2018-03-08 10:12] #59 closed

[2018-03-08 10:53] athird commented on #59
That's OK. :-)

On Thu, 8 Mar 2018 at 10:12 Michał Zimniewicz <notifications@github.com>
wrote:

[2018-03-08 21:21] rubenrua opened #61 "Editor (atto) toolbar is empty in test enviroment"
Description:
-----------

The editor toolbar is empty in the test environment (https://learn.test.up2university.eu) since the last environment update the bar is empty. The editor used in moodle is the Atto editor and its toolbar is configurable.

Steps to Reproduce
-----------------

1.-  Edit an element with rich text, like a page or a link; or add a new element with rich text.

https://learn.tes

[2018-03-09 12:08] athird commented on #61
OK, I've just committed fixes for this to the env and moodle repositories, it works locally now.

[2018-03-09 12:08] #61 closed

[2018-03-14 15:39] rubenrua opened #65 "Error: Every FilePicker window has the eduOER logo in the corner."
Every FilePicker window has the eduOER logo in the corner. This should either be deleted (not shown) or changed to the particular service logo (eduOER, CERNbox, DSpace, Personal Recorder)

[2018-03-14 15:40] rubenrua commented on #65
![logo_oer_moodle](https://user-images.githubusercontent.com/195745/37413012-5b896ee0-27a6-11e8-9ea9-54ea922dc4df.png)

My fault. I will do a new pull request to fix it.

[2018-03-14 16:12] rubenrua commented on #65
To fix this issue quickly, I removed the eduOER logo in the pull request #66

In a future pull request I will add the logo only in the "Add eduOER video" modal.

[2018-03-21 13:57] michzimny commented on #52
How about this? Can we do this?

cc @athird

[2018-03-21 19:48] nadavkav commented on #52
We can disable manual enrollment on a system level (as admin), so none of the courses can use it.
but we can not do it for only a few course. it's all or nothing. hope it is what we need.
https://learn.test.up2university.eu/admin/settings.php?section=manageenrols
(Click to "eye" to disable manual enrollment )

[2018-03-21 20:37] michzimny commented on #52
I think we want to disable manual enrollment in all courses.

@athird, could we appropriately set this option to all instances?

[2018-04-17 10:24] michzimny commented on #39
Is it still a problem?

[2018-04-17 10:25] michzimny commented on #49
It still seems to be an issue to be solved, as we don't force people to upload file to backend services.

[2018-04-17 10:27] michzimny commented on #65
@rubenrua, is the issue yet to be solved?

[2018-04-17 10:42] michzimny commented on #52
It works fine in dev.

@athird, can we deploy to other instances?

[2018-04-17 14:04] rubenrua commented on #65
yes. Checked on `learn.test`

![image](https://user-images.githubusercontent.com/195745/38874593-c4c8bbb4-4258-11e8-832a-6a814a171955.png)

[2018-04-17 14:04] #65 closed

[2018-04-30 10:34] michzimny opened #74 "Cannot login to CERNBox via Moodle"
We cannot login to CERNBOX via Moodle. We receive the message “error/Could not decode JSON token response”,

It is a known issue for some time. I'm just adding for the record.

[2018-05-02 13:11] michzimny commented on #39
@nadavkav, is it still a problem?

[2018-05-02 19:49] nadavkav commented on #39
Nope. works fine :smile: thank you. (sorry for not reporting on this earlier)

[2018-05-03 20:20] michzimny opened #76 "Messages added in forum are not sent by email"
Gabriella reports:

[2018-05-10 11:04] michzimny commented on #74
I'm adding the issue on the SSO side: https://github.com/up2university/single-sign-on/issues/36

[2018-05-10 11:04] #74 closed

[2018-05-10 11:05] michzimny commented on #52
@athird?

[2018-05-10 11:06] athird commented on #52
@michzimny Yes, I'll merge it, sorry!

[2018-05-16 09:35] michzimny commented on #52
Ok, thanks. I'm going to deploy it to both pedagogy and production in the evening.

[2018-05-16 09:38] michzimny commented on #49
We need a conclusion here. To allow uploading larger files directly to Moodle, or to force people (or suggest, at least) to upload files to backend services.

The most recent approach expressed in Trello and in mails is for larger files directly to Moodle. @athird, your comment would be needed.

[2018-05-16 09:38] michzimny commented on #44
It also needs to be hidden in production.

[2018-06-05 14:41] michzimny opened #80 "Errors on enrollment to a course using enrollment code"
When I enrol using code 'v9rmpj' to a course in https://learn-dev.test.up2university.eu/ I get the following error. After clicking "Continue", it seems to works fine, and the course creator role seems to be granted by "Category Auto Enrol" block present in that course.

[code]

[2018-06-05 15:11] michzimny opened #81 "Cannot edit courses as course creator"
I have followed the video by Nadav and prepared a course with "Category Auto Enrol" block. It is meant to auto assign role 'course creator' for users enrolled to that course.

Enrol to my course at https://learn-dev.test.up2university.eu/ using code 'v9rmpj'. Please use non-admin user! You should be given course creator role in category "Poland / Teacher training". Now you can create courses and d

[2018-06-05 15:16] michzimny opened #82 "Category list"
How to reach list of categories in Moodle to select a category I'm interested in? It seems it's hard to find for a regular user. Could we have a list of categories in the front page?

[2018-06-05 15:21] michzimny commented on #80
It seems it happens even when I enroll, as a non-admin user, to a course that does not have "Category Auto Enrol" block.

[2018-06-05 19:55] nadavkav commented on #80
Weird. it used to work. Did you set it up correctly before you tried to enrol into the course?
The error is actually saying "The roles where not defined on the block setting page"

[2018-06-05 19:57] nadavkav commented on #80
I will see if I can replicate this on my local development server

[2018-06-05 19:58] nadavkav commented on #80
Is anyone using this block?

[2018-06-05 20:01] nadavkav commented on #81
A teacher that got a Course creator role in a category, and created a course for him/her self, should also add himself/herself as a teacher to that course, to edit it. (as course creator role is not meant to be able to edit courses)

[2018-06-05 22:06] michzimny commented on #81
How can such a teacher add himself to that course on its creation?

[2018-06-05 22:14] michzimny commented on #80
What do you mean? I have created the new category with the new course inside of the category. To the course, I have added the block with settings as in your video: https://www.dropbox.com/s/86vwi277j2r9bbu/capture-block.PNG?dl=0

I created this block yesterday and started testing.

[2018-06-06 05:57] nadavkav commented on #81
Manually, go into course enrollments and add himself as a teacher.
I can not do it automatically, since the course is not available until the
teacher decide to create it.
If we are creating courses automatically (somehow) we can automatically
enroll the teacher into the course with role teacher.
but this involves more development.

On Wed, Jun 6, 2018 at 1:06 AM Michał Zimniewicz <notifications@gi

[2018-06-06 06:21] michzimny commented on #81
This must be done by an admin, right? Since we disabled manual enrollments for regular user.

We have designed the procedure to grant course creator role using this block. Is such user with course creator role currently able to enrol himself anyhow to courses he creates?

[2018-06-06 07:33] nadavkav commented on #81
I forgot manual enrollment was disabled. oups.
I think you should enable it for course creator role (only)
what do you think?

On Wed, Jun 6, 2018 at 9:21 AM Michał Zimniewicz <notifications@github.com>
wrote:

[2018-06-06 09:17] michzimny commented on #81
If we enable it for course creators, then they will be see this option only in 'their' course categories, right?

[2018-06-06 11:02] nadavkav commented on #81
Yes

On Wed, Jun 6, 2018 at 12:17 PM Michał Zimniewicz <notifications@github.com>
wrote:

[2018-06-06 11:17] michzimny commented on #81
Then ok, I think we must do it.

@nadavkav, are you able to say how to make the appropriate setting persistent to bring it to all instances?

@athird, could you help with this?

[2018-06-06 12:27] michzimny commented on #81
@nadavkav, instruct me also how could I set it like this manually, please.

[2018-06-06 14:57] nadavkav commented on #81
An administrator should allow course creator to assign role teacher in the following matrix:
![image](https://user-images.githubusercontent.com/231168/41046434-122e27a0-69b3-11e8-9375-75364258b154.png)

[2018-06-06 15:27] michzimny commented on #81
Thanks. Just tested, it works.

However, now any teacher can again list all the users in the system. It's bad. We need somehow solve this one and #52.

[2018-06-06 15:27] michzimny commented on #52
Reopening because of #81.

[2018-06-08 09:14] nadavkav commented on #81
There is no specific MOOSH command for this, as far as I can tell.
but, you can use MOOSH run-sql command with the following SQL statement:
INSERT INTO mdl_role_allow_assign (roleid,allowassign) VALUES('2','3')
roleid 2 is manager
and
allowassign 3 is teacher

[2018-06-08 15:19] michzimny opened #83 "Add missing translations"
There are missing translations in important places. In the home page, there is the enrolment form. I have my language set to Polish but I still see "Course Code" as the field's name and "Enroll" as the button's label. It's similiar for some other languages.

The labels for Polish are:
* Course Code - Kod kursu
* Enroll - Zapisz

[2018-06-08 15:56] michzimny opened #84 "Students cannot post to Forum"
Regular users with role Student in a course cannot post to a course's forum. How could we quickly change that?

At https://learn.test.up2university.eu/admin/roles/define.php?action=view&roleid=5 I see that all forum actions are set to "Allow". Still, I have a regular user account, from which I cannot make any action on forums.

[2018-06-08 16:05] michzimny commented on #84
Sorry, it seems it depends on some settings within particular forum instance. When I add a new forum to a course (other than the first, which is automatically created on course creation), then it's ok.

[2018-06-08 16:05] #84 closed

[2018-06-26 14:29] michzimny commented on #76
@athird, could we plase configure sending e-mails with an external SMTP, like Google's one, until we have our own?

[2018-06-26 21:01] nadavkav commented on #80
@michzimny sorry, but I do not have time for this this week. only at the end of next week.

[2018-06-28 12:23] michzimny opened #85 "Cannot post to forums"
Opening https://learn.test.up2university.eu/mod/forum/post.php with proper parameters, such us 'forum' or 'reply', stucks the current user session. Meaning, the page is not loading, and any other page cannot be open anymore within this user session.

Tested in latest Chrome and Firefox. Tested in different courses.

To reproduce, go to any course, to forum (or "Announcements"), and try to start a

[2018-06-28 14:24] #85 closed, assigned to athird

[2018-07-03 12:31] athird commented on #81
OK, what was the conclusion of the discussion about this with regard to #52? Just remove the capabilities 'enrol/manual:enrol', 'enrol/manual:manage' and 'enrol/manual:unenrol' from the 'teacher' role?

@nadavkav I have the same question again about automating this, via moosh or SQL. :-D

[2018-07-03 22:05] nadavkav commented on #81
@athird I will get back to you with an answer for this, over the weekend.
(I was very very busy the last few weeks, with to much conferences I was organizing, on my plate ;-)

[2018-07-04 10:05] michzimny commented on #83
Thanks. I will first have a look at the defined processes.

[2018-07-04 10:19] michzimny commented on #81
First, I think we still do not have a solution for the both issues (allow course creators be enrolled to newly-created courses AND prevent all regular users, including course creators and course managers, from listing all users).

I have the following settings in learn-dev as suggested by Nadav here and by mails:
![1role-assignments](https://user-images.githubusercontent.com/1483196/42271701-3b0da

[2018-08-14 15:47] michzimny commented on #49
@athird has tried to fix it up, but AFAIK we do not have it persistified yet, right?

[2018-08-21 06:44] elinara opened #86 "Missing example data in template files"
Lack of example data in .env files. Maybe is better to fill empty places with real data from https://learn.up2university.eu/?

[2018-08-22 13:53] Tabbasum commented on #49
Should be fixed in PR #87

[2018-09-06 11:47] michzimny commented on #49
I've deployed an updated version to the pedagogy instance. It seems it works now, thanks!

[2018-09-06 11:47] #49 closed

[2018-09-09 21:14] michzimny opened #90 "Our persistified configuration corrupts courses containing files from external repositories"
**Steps to reproduce**
(tried for the pedagogy instance)
1. Get to MySQL and inspect output of queries:
```select * from mdl_repository_instances;```
```select * from mdl_files_reference;```
Column "repositoryid" from the second output matches column "id" from the first output. Check id of the repository named "CERNBox". Assume its value is N. There are some file references (second output) of that

[2018-10-04 08:29] michzimny opened #91 "Quote mark issue on deployment"
When deploying to production (`./deploy.sh production 49c2b66d6d1e34c3c3f0bedf888098ef075eb0c6`), the script ends up with the following output:
[code]

I don't know if that matters but maybe something gets improperly configured. Maybe there's an issue with the quote marks in *.env files? I don't now which approach to quote marks is the right one as we have various of them in the env repo :-)

[2018-10-04 08:43] Alfro commented on #91
Hi @michzimny, if you need help with setting these variables maybe we can also give a hand.

[2018-10-04 08:49] michzimny commented on #91
Hi @Alfro, you're right that it might be the case with having right values of the config variables. I would prefer though that @athird or @Tabbasum take this and check the values with you if needed.

[2018-10-04 08:52] michzimny opened #92 "Inaccessible admin pages in production"
Accessing https://learn.up2university.eu/admin/ ends up with a blank page with error:

Maybe something wrong with values from env repo (I made a deploy an hour ago)?
Maybe it's related to #91

[2018-10-04 13:04] michzimny opened #93 "Button "All courses" in production leads to 404"
Steps to reproduce:
1. Go to https://learn.up2university.eu/
2. Authenticate
3. Click gray button "All courses" in the middle of the page

You're getting 404. You should get something similiar as in other Moodle instances.

And I think the solution for this issue should be persistified in our env variables.

[2018-10-09 15:47] athird commented on #92
I just did, effectively, docker-compose down and then docker-compose up, and I can now see the admin pages on production - are they visible to you now?

I can't really see why anything would have changed, though.....

[2018-10-09 15:53] michzimny commented on #92
Well, yeah, it's weird. Accessing /admin brings me now to https://learn.up2university.eu/admin/upgradesettings.php and asks for some interactive configuration. Should we proceed? Maybe the config (env) files were not properly processed?

[2018-10-09 15:55] athird commented on #92
Oh, strange! I'll try reconfiguring it (we shouldn't fill in the forms manually) - maybe being "unconfigured" is what fixed it? i.e., will it break if I configure it again?

[2018-10-09 15:58] athird commented on #92
Looks like it does break it again.

[2018-10-09 16:13] michzimny commented on #92
The difference between the production instance and other instances is in the values of env variables. So I think we have some broken values in the production values. What do you think?

[2018-10-09 16:16] athird commented on #92
I've located it, I'll send you an email rather than put the fix here. :-D

[2018-10-09 21:45] michzimny commented on #92
I've properly escaped the special character in env vars as suggested. It works now. Thanks.

[2018-10-09 21:45] #92 closed

[2018-10-10 09:50] michzimny commented on #90
As many new deployment interations are approaching (e.g. MVP improvements), we should fix this issue ASAP to avoid manual operations after every new release is deployed.

[2018-10-10 09:51] michzimny commented on #44
It still needs to done in production.

[2018-10-10 09:52] michzimny commented on #52
Could we look for a solution for this please?

[2018-10-10 09:59] michzimny commented on #91
I'm not experiencing this issue anymore. I think it could have been caused by #92.

[2018-10-10 09:59] #91 closed

[2018-10-10 11:34] Dimitrispant opened #94 "Invalid Consumer Key Debug Error on SeLCont LTI on production instance"
Here is how the error goes:

1. I select SeLCont LTI external tool on the production instance for a course I created.
2. When I set it up and try to open the SeLCont instance I have a debug message on the URL like this "Invalid Consumer Key"

I think that this error may be from a missing variable from the .env template of SeLCont (e.g. SELCONT_CONSUMER ?) or it may need a way to force SSL for this

[2018-10-10 11:53] athird commented on #94
The .env files (and the template) for SeLCont for both production and pedagogy instances seem to have the same variables in them. The only possibly significant differences I can see between them are for the SELCONT_KEY_URL variable. Neither of them specify HTTPS, and the pedagogy one has a URL ending in "/selcont-key" where the production one just ends in "/selcont". Could either of those make a d

[2018-10-10 12:03] michzimny commented on #94
@athird, are you watching the latest version of env repo? My HEAD is 51835d9a6e64d01abfbe383e9a8eb014b4871910 and I see more differences between the instances:

[code]

[2018-10-10 12:07] Dimitrispant commented on #94
@athird The URL ending is the the consumer key that is used on each instance. However when you create an LTI external tool manually, it also asks for the consumer key on a separate field and you have also to check the option to force SSL. However, I'm not sure how these options can be adapted on the .env template.

[2018-10-13 19:14] nadavkav commented on #52
You could remove any capability that allow a "Course creator" role to view users, by updating the legacy role "coursecreator"
![image](https://user-images.githubusercontent.com/231168/46909048-bfec8d00-cf34-11e8-9bbf-478ba70a1bd3.png)
Use the filter input box to narrow down anything that is user related by inputting "user"
Click off any "allow" checkbox that seems relevant.
Or..
Create a new role

[2018-10-25 14:07] michzimny commented on #52
@athird and @Tabbasum - could you please have a look and try to apply this suggestion?

[2018-10-31 12:22] michzimny opened #100 "Dissable "Log guest access"

[2018-11-11 13:48] nadavkav commented on #80
@michzimny
Sorry for the very very loooong delay in reply to this issue.
I managed to reproduce this on the learn-dev.test server and also on my new local development server,
And also figure it out :smile: , as it was due to a situation where a course had several blocks, which funny enough I did not consider with my initial test in which there was only the auto category enrollment block, and that

[2018-11-14 16:09] athird commented on #94
@Dimitrispant Any update on this?

[2018-11-14 16:11] athird commented on #86
@elinara We can do this for some of the configuration options, but not all - the .env files include credentials which must be kept secret. But we can generate random strings to put into them.

[2018-11-14 16:12] athird commented on #83
@michzimny What do you think about this issue for updating the production deployment? If you can see, I've added a few labels to tag issues for their status with regard to the update - which do you think is appropriate?

[2018-11-15 15:09] michzimny commented on #94
The update we have from @Dimitrispant from 6th Nov is the following (but these are my words):
The integration Moodle-SeLCont does not work properly after Moodle is deployed but the workaround is to simply put the configuration manually into the admin panel (or just open and save existing configuration forms).

So, it seems to be related to similiar issue with CERNBox configuration after deployment

[2018-11-15 22:21] michzimny opened #101 "PR config was not in place in production"
I've experienced issues as described in https://github.com/teltek/PuMuKIT2-up2u-pr-bundle/issues/8

The reason was that setting "atto_pumukitpr | password" had value "ThisIsASecretPasswordChangeMe". I've manually replaced it with the proper value (from the env repo), and then PR started to work.

Perhaps, it's the same issue with wrong settings after Moodle deployment.

[2018-11-19 00:35] ivanoterouvigo opened #102 "Problem with Edugain access"
Hi everyone!

From long time ago, I have the same problem trying to use Edugain access in both platforms.

https://learn.test.up2university.eu

and

https://learn.up2university.eu

I attached here some images of the error.

![moodle_learn_test_up2university_001](https://user-images.githubusercontent.com/11814769/48680379-38c9af00-eb9b-11e8-9e30-dc08d874a816.png)
![moodle_learn_test_up2university_0

[2018-11-19 00:49] ivanoterouvigo opened #103 "Error with google account access"
Hi everyone!

A teacher who attended Italian training course in april/may has a problem accessing the course.

He autenticated to the platform and created an account using his google account at the beginning of the training course. He followed the course and now he wants to consult its materials again, but he can't.
The error that appear is an "unhandled exception", with the following tracking id

[2018-11-21 22:43] michzimny commented on #80
I've pushed the update of your plugin: https://github.com/up2university/docker-moodle/commit/1938787718d5fdf08d388d03dd5b6c72fc9fbba1

I've tested, and it seems the issue is fixed.

[2018-11-21 22:43] #80 closed

[2018-11-21 23:03] michzimny opened #104 "Integration with Google Drive"
This is an improvement suggestion from external users.

Nadav has commented:

https://edu.google.com/higher-ed-solutions/g-suite/course-kit
We should apply for key/secret and get it integrated into UP2U Moodle instance

Who could move this forward?

[2018-11-21 23:04] michzimny opened #105 "How to install/integrate other Up2U tools into own Moodle instance?"
This is an improvement suggestion from external users.

Could we provide a documentation or something?

[2018-11-22 12:03] Dimitrispant commented on #105
@michzimny I will create one for SeLCont

[2018-11-22 12:06] michzimny commented on #105
@Dimitrispant, thanks!

[2018-11-22 17:20] elinara opened #106 "theme_fordson showonlycustomactivities must be disabled"
The setting showonlycustomactivities must be disabled because otherwise the non administrative user can not create a new activity.

[2018-11-26 11:42] michzimny commented on #82
@athird, country managers report it is very important. They do not know now how to reach. without a direct link, the category they manage.

[2018-11-26 22:54] michzimny commented on #76
@athird, it's also MVP improvement that should be fixed very soon.

Via email, I just sent you some SMTP credentials we can use.

[2018-11-27 13:02] michzimny commented on #82
Perhaps the following link could be provided somewhere in the main page?
https://learn.up2university.eu/course/management.php

[2018-11-27 13:19] michzimny opened #107 "No "enrolments codes" option available in production"
![capture](https://user-images.githubusercontent.com/1483196/49084336-77bccc00-f24f-11e8-8baf-f12baa7b5a22.PNG)

[2018-11-27 13:43] michzimny commented on #83
@athird or @nadavkav, would you be able to provide a procedure for project partners to update or fill up missing translations? For instance, extract relevant stuff from the upstream translation procedure, put some files to our github repository (a new one, I think). Then we could ask people to provide translations. Otherwise, it would be pointless for each partner to study the upstream translation

[2018-11-27 13:46] athird commented on #82
We can - ideally, though, we'd only show that to users with the relevant roles, right? (Possible - see, e.g., [here](https://stackoverflow.com/questions/26862933/moodle-2-7-need-to-know-how-to-create-custom-menu-for-different-user-groups))

Alternatively, there is a setting just to add a list of categories to the front page we can try - I've just manually enabled it on the pedagogy platform. What

[2018-11-27 13:48] michzimny commented on #104
@nadavkav, were you able to apply for the key/secret pair and prepare a demo of such solution?

[2018-11-27 13:53] michzimny commented on #82
Yes, I think this block is a quick and good solution for that. Thanks to that, people will be able to find the categories they manage.

Persistify this configuration if you can, please.

[2018-11-27 13:56] athird commented on #82
OK, it's easy enough to handle.

I will, there are several changes that need to be persistified, I'll get them put together soon.

[2018-11-27 16:20] nadavkav commented on #104
@michzimny
UP2U needs to (1) apply for Google for Education account (2) Apply to join the Course kit beta (link above)
Only then, we can get a key/secret and be able to use it.
Not sure who is the proper person to formally contact Google on behalf of the UP2U project. but after this bureaucracy stage is finished and we are approved and get a GFE account  we can move to stage (2)

[2018-11-27 16:22] nadavkav commented on #104
@michzimny
I do not have a demo yet, on other systems I manage, but hope to be able to setup one very soon.

[2018-11-27 17:01] michzimny commented on #104
@nadavkav, thanks for the clarification. So, I shall ask the coordinators to sign up for https://edu.google.com/products/course-kit/contact/?modal_active=none ? Is it enough to complete step 1?

Or is anything else related to "Google for Education" needed? This name "Google for Education" seems to be very wide set of services and I cannot find simple enrolment form for this program.

[2018-11-27 19:16] nadavkav commented on #104
You will need to (1) register a GFE account here: https://edu.google.com/contact/?modal_active=none
And only then apply for (2) Course kit service here: https://edu.google.com/products/course-kit/contact/?modal_active=none

[2018-11-28 06:14] nadavkav commented on #83
Their is a Moodle HQ have a special system (web site) for suggesting new translation to each language:
lang.moodle.org.
To contribute new translation, you can use the following guide:
https://docs.moodle.org/dev/Contributing_a_translation
Do note that each language has a maintainer, and only she/he approve the suggested contributed language suggestions. and their is no guarantee that all the sugge

[2018-11-30 15:05] NelsonDiasFCCN opened #108 "Add hyperlinks on the contact section"
We need to create hyperlinks on the bottom part of the learning platform in the contact section:
-  UP2U Website URL link
-  Contact (contact@lists.up2university.eu) link
-  Change the contact e-mail that is wrong (**contacts@lists.up2university.eu**) to contact@lists.up2university.eu

![screenshot 2018-11-30 at 14 38 29](https://user-images.githubusercontent.com/16823022/49295511-d54e5400-f4ad-11

[2018-11-30 15:18] NelsonDiasFCCN opened #109 "Error on the "All Courses" button"
The **"All Courses"** button on the learning platform doesn't work.
Error message:
**_"Not Found
The requested URL /title was not found on this server.

Apache/2.4.7 (Ubuntu) Server at learn.up2university.eu Port 443"_**

Please see the screenshot below

![screenshot 2018-11-30 at 15 06 47](https://user-images.githubusercontent.com/16823022/49297057-c4074680-f4b1-11e8-9896-40a133db8a82.png)

[2018-11-30 15:36] NelsonDiasFCCN opened #110 "Direct Access to Courses by "Country", "Schools" and "Disciplines" on the Learning Platform"
We need to provide to students and teachers an easy access to "courses by Country", Schools" and "disciplines" (Scientific areas) directly from the learning platform landing page.
This information should be accessible inside the "All Courses" button that doesn't work right now.

Please see the screenshot below.
![screenshot 2018-11-30 at 15 06 47](https://user-images.githubusercontent.com/16823022

[2018-11-30 16:02] michzimny commented on #109
Closing as duplicate of #93

[2018-11-30 16:02] #109 closed

[2018-11-30 16:03] michzimny commented on #110
This issue might be the same or at least related to #82

[2018-12-05 09:50] michzimny opened #111 "Upgrade logstore_xapi plugin"

[2018-12-12 13:48] athird commented on #52
@nadavkav The course creator role doesn't currently have any capabilities that mention "user", so there's nothing to try. Do you have any further suggestions?

Also, what does the course creator user have to do in order to see the list of all users?

[2018-12-12 13:51] michzimny commented on #52
Assuming that question is for me. As course creator I was able to create course, then go to the course and choose "Enrolled users"->"Enrol users" to see all users in the system with their names and email addresses.

@athird, is it what are you looking for?

[2018-12-12 14:41] athird commented on #52
@michzimny Yes, thanks, that's what I was looking for. I thought that option wouldn't be visible if manual user enrolment was disabled, though.

So could the right fix be to remove the "enrol" capabilities (except self-enrol) from Course Creators?

[2018-12-12 14:44] michzimny commented on #52
My tests have shown that disabling manual user enrolment makes course creators unable to enrol to their newly created courses. So, one was able to create a course, but then he or she had no permissions in that course.

Nadav have then proposed other suggestions that need to be configured and tested.

[2018-12-12 14:48] athird commented on #52
But that was disabling the whole manual enrolment functionality, wasn't it? Looking at the screenshot [here](https://github.com/up2university/docker-moodle/issues/81#issuecomment-395099248), though, if we edit capabilities directly, it draws a distinction between self-enrolment and enrolling other users. So we could leave the first enabled and disabled the others.

[2018-12-12 14:56] michzimny commented on #52
Ah, ok. So yes, it might work as you're saying...

[2018-12-12 15:17] athird commented on #52
Just looked, I don't think it will work. The capability for self-enrolment is related to allowing any users to pick a course and enrol themselves in it.

But now I'm more deeply confused. Looking on learn.test..., the course creator role doesn't *have* any of the enrol capabilities ticked, so how are they able to do it? Or does the teacher role have them, and actually creators are getting the capa

[2018-12-12 15:21] athird commented on #52
@michzimny I've removed some of the enrolment capabilities from teachers. Would you be able to check if it's made any difference to the "list all users" issue? My various accounts are all either too low or too high privilege to test this easily. :-)

[2018-12-13 10:41] msbachler commented on #52
I found this: https://moodle.org/mod/forum/discuss.php?d=357154
It seem to describe how to change the roles and permissions so emails can't be seen. Just investigating how we could set the two changes he suggests programmatically.

[2018-12-13 11:17] msbachler commented on #52
Actually reading your issue again, I am not sure you want to turn off seeing emails displayed beside user in lists completely, as the above would do. Can someone clarify if this is what you want to do or not?

[2018-12-13 11:32] msbachler commented on #52
Allan has clarified the requirements for this issue, so ignore the above 2 entries.

[2018-12-13 11:32] michzimny commented on #52
I think what we want to do is to disable listing all users in the system. A suggestion was that it could be achieved by disabling manual enrolments to courses (as we enrol users via enrolment codes). But the solution cannot prevent non-admin users from creating courses.

[2018-12-13 13:19] athird commented on #101
@michzimny I committed the correct password to the env repo last week, it should be fine. Separately, though, I can't test due to what seems to be an SSO cross-origin [problem](https://github.com/up2university/single-sign-on/issues/52#issue-390669628)

[2018-12-13 13:21] msbachler commented on #100
Added 'logstore_standard';'logguests';0 to template-moodle-settings.scsv locally, and that seemed to untick the setting in the logging plugin.

[2018-12-17 11:13] ivanoterouvigo opened #116 "Not be able to add activities to course moodle as a teacher"
Hi everyone!

I found this problem trying to add one activity as a teacher role.

**First of all,** as a manager, it works fine. I edit course as a manager and then I add an activity.
In this case I have a complete list of activities.

You can see the list in the image.

![add_activities_ok_v001](https://user-images.githubusercontent.com/11814769/50083490-499a2e80-01f4-11e9-8e03-b27697840013.png)

[2018-12-17 12:09] ivanoterouvigo opened #117 "Not able to use the same kind h5p exercises in moodle instances"
Hi everyone!

H5P is a kind of activity which could be used to create interactive activities.
As a plugin of moodle, I have the posibility of create and activity inside moodle.

I have different behaviour in the test moodle instance and in the production instance.
I mean.
At https://learn.test.up2university.eu

I am able to add all this kind of h5p exercises.

![h5p_all_activities_v001](https://us

[2018-12-17 13:54] ivanoterouvigo opened #118 "Error when I upload a h5p exercise."
Hi everyone!

I found other issue related with h5p exercises.

When I add an activity made with h5p, I have the posibility of creating directly or upload an h5p file.

In this case I uploaded an h5p as I show you in the image bellow.

![error upload h5p files_v000](https://user-images.githubusercontent.com/11814769/50091243-17e09200-020b-11e9-96a9-1b5d9e9e8eb7.png)

But I got this errors.

![error

[2018-12-17 14:00] msbachler commented on #116
Duplicate of #106.

[2018-12-17 14:00] #116 closed

[2018-12-17 14:44] msbachler commented on #108
What the Fordson theme config seems to do is rather than links is the footer it adds the orange icons, like the globe one that is already showing in the image above, below the textual contact string. So the orange globe icon is already a link to the website. It does those 'links' with the theme settings under the 'Social Icons' section on the theme Footer page. Those are its 'links'. So following

[2018-12-17 15:04] msbachler commented on #108
Or we could just have the icons and remove the test bit like this:

![108b](https://user-images.githubusercontent.com/4311824/50095276-16b06480-020d-11e9-8c7a-15041f4306a5.PNG)

[2018-12-17 15:12] michzimny commented on #32
Solved by #112?

[2018-12-17 15:14] NelsonDiasFCCN commented on #108
I prefer the last example with the icons.

1 - Can we increase the size of the icons and align them vertically?
2 - Can we add a description to each button “Website” and “Contact us” at the right side of each button?

Best regards,
Nelson

Nelson Dias
Área de Serviços Avançados | Serviço Técnico de Vídeo

Fundação para Ciência e a Tecnologia
Unidade FCCN - Computação Científica Nacional
Av. do Bra

[2018-12-17 15:19] athird commented on #32
Yes, should be.

[2018-12-17 15:21] michzimny commented on #90
Solved by #113?

[2018-12-17 15:31] michzimny commented on #100
Solved by #114?

[2018-12-17 15:31] msbachler commented on #108
We can't change the icon size or add text, at least not with properties in the theme Footer settings page.

[2018-12-17 15:33] michzimny commented on #106
@athird, @msbachler, from #116 it seems that the issue is blocking some users. Shall we make quick test of merged changes and deploy the latest version to all instances?

@ivanoterouvigo, are your teachers using the production instance?

[2018-12-17 15:34] msbachler commented on #108
I think you can add custom css though which might at least let me make the icons bigger. I will investigate.

[2018-12-17 15:48] ivanoterouvigo commented on #106
Yes, I began to work with them in production instance. But we are at the beginning.
I would like to give them the oportunity of create content in hide mode.
But teacher role didn't let them to work like this

[2018-12-17 15:56] msbachler commented on #108
OK. I can overide the class '.socialicon' by changing the theme_fordson | scss setting and set the font-size to whatever you like (the icons are actually a font element). The font used for the icons is 14px at present. Here is what 24px looks like as an example:

![108c](https://user-images.githubusercontent.com/4311824/50098475-e9b38000-0213-11e9-8b28-2e6a7c745ef3.PNG)

[2018-12-17 16:12] msbachler commented on #108
I can possibly align them vertically by overriding the css some more. But I can't add text beside them with tcss changes, so I am not sure aligning them vertically makes sense without the text next to them?

[2018-12-17 16:32] #32 closed

[2018-12-17 16:33] michzimny commented on #106
OK.
@athird, @msbachler, shall we schedule deployment to the pedagogy and then production instances?

[2018-12-17 16:42] NelsonDiasFCCN commented on #108
Yes, it doesn’t make sense to align vertically if we can’t include the text.
It seems much better now.

Thanks,
Nelson

Nelson Dias
Área de Serviços Avançados | Serviço Técnico de Vídeo

Fundação para Ciência e a Tecnologia
Unidade FCCN - Computação Científica Nacional
Av. do Brasil, 101, 1700-066 Lisboa, Portugal
T: [+351] 218 440 100
nelson.dias@fccn.pt   |   www.fccn.pt

[2018-12-17 16:58] msbachler commented on #108
OK. I will go ahead and implement these changes then.

[2018-12-17 18:18] NelsonDiasFCCN commented on #108
Thanks

Nelson

Nelson Dias
Área de Serviços Avançados | Serviço Técnico de Vídeo

Fundação para Ciência e a Tecnologia
Unidade FCCN - Computação Científica Nacional
Av. do Brasil, 101, 1700-066 Lisboa, Portugal
T: [+351] 218 440 100
nelson.dias@fccn.pt   |   www.fccn.pt

[2018-12-18 14:16] michzimny opened #121 "Upgrade PR/Poddium"
Message from PR/Poddium team:

https://github.com/teltek/PuMuKIT2-lms-bundle/tree/1.1.4/Resources/data/pumoodle/editor/atto/plugins

[2018-12-18 15:07] athird commented on #121
In terms of the configuration changes (i.e., switching the envs so that the pedagogy platform is using the same instance of PR as production), that already seems to be committed to the envs repository. @msbachler is working on the version increase just now.

[2018-12-18 15:23] msbachler commented on #121
Zip for version 2018072000 added to GitHub and pull request created.

[2018-12-18 16:12] athird commented on #117
This is a weirdness with H5P: it seems that unless an administrator goes through the H5P options (when adding an H5P activity) and clicks Get, those options aren't available for other users. @msbachler is looking at automating this. In the meantime, I'll do it for the various platforms.

[2018-12-18 17:40] ivanoterouvigo commented on #118
Hi @athird. It didn't work with any package.
Anyway I share with you and instance.

![h5p_ejemplo_v000](https://user-images.githubusercontent.com/11814769/50171956-31113d80-02f4-11e9-9d3d-a8173deb8c61.png)

You can download this example. [Link](https://h5p.org/fill-in-the-blanks#example=61113)

Regards

[2018-12-18 19:02] michzimny commented on #121
Side note: as far as I remember there is a way to refer a related issue in a PR, to have the issue automatically closed on PR merge. We can figure it out and try to use it for the increasing number of PRs :-)

[2018-12-18 19:32] michzimny commented on #106
If we could do this outside of working hours and book some additional time to solve things if anything occurs after deployment, then any day is fine. If not, then I need to check with pilot countries as some activities with teachers are ongoing.

I'm afraid I will not find enough time till the end of the month to participate in the technical side.

[2018-12-18 21:16] michzimny commented on #106
@athird, however, in case of blockers as #116, I think we need to fix them ASAP. Either by deployment or a manual fix.

[2018-12-20 16:20] msbachler commented on #76
I have added envs for setting up the SMTP outgoing mail settings in Moodle admin setting with the values I was given by Allan. I have added the relevant Moodle settings in the template-moodle-settings.scsv file that pickup those. I have tested in my local build that those setting are set in moodle after using the altered code. So I have pushed the code up to both repositories for that part.

I hav

[2018-12-20 16:23] msbachler commented on #117
I have written and tested a script that will automatically install all the h5p libraries. I have testing in a separate running Moodle and in a Moodle build using the up2u docker build. It seems to work fine. So I have tentitavely commited the required code changes into docker-moodle. But I have not added a pull request as I feel someone else should test it as well, given that it is quite a big thi

[2018-12-20 16:24] michzimny commented on #76
I'm not sure if we support password reset in Moodle, as our deployments use SSO for authentication, and no user passwords are stored in Moodle. But I unable to address your local installation.

[2018-12-20 16:31] michzimny commented on #76
I'm unable to test before the holiday season.

Forum in Moodle could be a good test case (i.e. email notifications on messages posted by other users).

[2018-12-20 16:34] msbachler commented on #76
OK. I don't think I have any forums setup anywhere on my instance of Moodle and don't know how they work exactly, so it will take me abit to setup one up to test with. So I think I will look at it when I get back from Christmas.

[2018-12-23 14:22] ivanoterouvigo opened #125 "Error on publish video via moodle courses"
Hi everyone!

I was preparing some content with our teacher. But we had some problems with trying publish video.

I will show the case of use.

We accessed to: https://learn.up2university.eu

Here, I created a course shared with a teacher.
I enrolled him and put him as a teacher profile in this course.

I created some videos with personal recorder inside this course.

First I created a video using

[2019-01-03 14:58] michzimny commented on #106
@athird, @msbachler, this issue is blocking users. Could we schedule deployments of the fix?

I think it could be done at any time, if before 7th January. Otherwise, we need to agree on a proper time.

[2019-01-06 21:17] athird commented on #106
@michzimny I've manually set the right configurations on production and pedagogy; I didn't want to risk stability by redeploying possibly other new stuff at the same time. Same for #82 and #93.

[2019-01-09 16:02] msbachler commented on #76
In the end I used enrolling on a course with email welcome turned on to test. However, we were unable to test from inside the OU as the OU blocks smtp we later found - after a lot of debugging our end.  Allan tested on learn-dev, entering the properties into Moodle and created a new course and enrolled and he got an email. So we think we can say that setting the properties I added to the envs will

[2019-01-09 16:11] msbachler commented on #76
Someone should obviously test this all with the Moodle forums, as that was the original reported issue. I can't unfortunately test smtp from inside the OU at all.

[2019-01-10 15:30] michzimny opened #126 "Web analytics"
Please add Matomo tracking code to all pages as documented here:
https://wiki.geant.org/display/UP2U/Web+Analytics

[2019-01-10 17:52] michzimny commented on #76
Today, I've started to receive some emails from learn-dev.test Moodle about upgrades available (I'm an admin there). So, it seems that something works.

[2019-01-10 18:06] ivanoterouvigo commented on #76
@michzimny, @msbachler Is this configuration only avaiable at learn-dev.test.up2university.eu **(LdevTM)**
Because I've just checked this configuration creating some forums at
learn.test.up2university.eu **(MTP)** and at
learn.up2university.eu **(MPP)**

[2019-01-10 18:32] ivanoterouvigo commented on #76
@msbachler Could you please add this configuration at **(MTP)** and **(MPP)** instances?

[2019-01-14 09:07] msbachler commented on #76
I don’t have access to make changes on any of the running Moodle instances. Allan will need to make those.

Michelle

From: Iván Otero [mailto:notifications@github.com]
Sent: 10 January 2019 18:32
To: up2university/docker-moodle <docker-moodle@noreply.github.com>
Cc: Michelle.Bachler <michelle.bachler@open.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [up2university/docker-moodle] Mess

[2019-01-14 09:57] msbachler commented on #126
I have added the env for adding additional script to the Moodle HEAD tag area. I tested with the script tag for the Analytics, on the above link given, on my test instance at the OU and the env was set correctly in Moodle Site administration / Appearance / Additional HTML 'additionalhtmlhead'. I checked the source code of that webpage and the script tag had been added in the head area. I don't kno

[2019-01-20 22:20] michzimny commented on #44
@athird, there is still log in form in the front page of the production instance. I think it's misleading as there are no credentials that regular users could enter to that form (they should not be even encourage to enter any credentials there).

[2019-01-20 22:59] athird commented on #44
@michzimny Fixed (manually) - the config option theme_fordson: showloginform also needs to be disabled. I'll persistify it soon (but not tonight)

[2019-01-22 13:06] athird commented on #81
@nadavkav I'm a bit lost with this issue too. I thought (from the documentation) that the creatornewroleid setting (set to "editing teacher") would cause course creators to be enrolled automatically as editing teachers in their courses. For some reason, this doesn't work on learn.test, when I try it, and I don't know why not. If it did, I could test what happens when those user-related privileges

[2019-01-23 11:13] michzimny commented on #126
Is this change already included in the changes recently deployed by Allan? I don't see the tag in the HEAD area of the pedagogy and production instances.

[2019-01-23 11:40] msbachler commented on #126
I was not involded in the deployment. So I don't know if this issue was included. All I can tell you is I have made the changes and pushed the files to the repositories 9 days ago.

[2019-01-23 12:46] athird commented on #126
No, it wasn't included, sorry - I didn't think to check for open branches, I only looked for mergeable pull requests. My suggestion then is to configure it manually and then raise PRs and merge them so it will be persistified for the next release, what do you think?

[2019-01-23 13:00] michzimny commented on #126
It's fine for me. Could you please do it manually for all the instances? Please note there are different codes for the production and for all the other instances.

[2019-01-28 15:03] gtoffoli opened #128 "Unable to create an instance of activity 'scorm'"
Hi everyone!
On the test instance, I'm trying to upload to a course Topic some SCORM 1.2 learning objects that were developed with Storyline.
At a question like
[code]
I choose the last option and then click on the "Upload" button.
The upload progress bar shows for a few seconds, but at the end this Alert message is displayed:
`Unable to create an instance of activity 'scorm'`.
Any idea? Thanks.

[2019-01-29 09:24] #93 closed

[2019-01-29 09:24] #106 closed

[2019-01-30 11:55] michzimny commented on #126
ping @athird

[2019-01-30 12:39] michzimny opened #132 "Collect the names of schools of users"
We're looking for a way to measure number of schools participating in pilots.

Could we force users to provide the name of their school in their user profile in Moodle?

Could users pick up the name from a list of already-provided names, or input the name manually if not in the list?

[2019-01-31 12:16] andreacorleto commented on #117
I have the same issue of Ivan. H5P in the production moodle instance has not all the content types (only 20 content types) that are available in the test instance (38 content types). For instance, currently Interactive video content is missing, but it is the most important h5p feature and one of the best to be used by teachers. It not depends on roles and privileges (I've tried to add h5p content

[2019-02-01 09:33] gtoffoli commented on #128
@michzimny @athird
I repeated the test, with the same result, following the instructions in
https://docs.moodle.org/36/en/SCORM_settings#Adding_a_SCORM_package
and trying to upload the package "Introduction to OneDrive.zip" that I had downloaded from
https://helpcenter.elearningforce.com/hc/en-us/articles/208271729-Sample-SCORM-files-

At Sapienza we already produced two courses with the Storyline

[2019-02-01 11:06] gtoffoli commented on #128
@athird Thanks for looking at a solution. But, considering the UI dialog, one wouldn't say that SCORM import isn't enabled.

[2019-02-01 11:21] athird commented on #128
@gtoffoli In the site administration settings, it's definitely disabled. Why it appears in the UI at all is a bit confusing, yes.

[2019-02-01 11:58] michzimny commented on #117
@athird, could you please manage to fix the issue in production? It would be either by manual fix or by deploying the current develop branch with Michelle's fix.

[2019-02-01 12:07] athird commented on #117
@michzimny It'll have to be by deployment - looking at it manually, it only lists those 20 content types even to an administrator, so I can't add the others by hand.

[2019-02-01 12:09] michzimny commented on #117
Ok, so we should probably schedule new deployments to all instances as there are other pull requestes by Michelle that I merged today.

[2019-02-01 12:10] athird commented on #117
@michzimny Just sent you an email about it. :-)

[2019-02-01 12:12] michzimny opened #133 "Easy enrollment not enabled in production"
There is no place to enter the enrolments code in production. It's very urgent.

CC @andreacorleto

[2019-02-01 12:15] athird commented on #133
Done manually.

[2019-02-01 12:17] michzimny commented on #133
Thanks.

[2019-02-01 12:17] #133 closed

[2019-02-04 00:53] athird commented on #117
Fixed, those content types weren't compatible with the version of H5P we had installed, it's upgraded now.

[2019-02-04 00:53] #117 closed

[2019-02-04 00:53] #126 closed

[2019-02-05 16:37] michzimny commented on #107
@athird, and would you be able to add it to all previously-existing courses? If so, then I think it would be the easiest solutions as it does not require to explaing things to the coordinators.

[2019-02-06 13:39] athird commented on #76
@ivanoterouvigo Email sending is now configured on all instances - can you tell me whether or not this issue has been solved, please?

[2019-02-06 13:41] athird commented on #94
@Dimitrispant How is it behaving now? In theory, if it was related to the CERNBox configuration after deployment issue, #90, then it *ought* to be fixed now. Could you check and let me know, please, so that we can close this issue, if fixed, or look into it further, if not?

[2019-02-06 13:42] athird commented on #107
@michzimny Yes, should be able to, that's fine.

[2019-02-06 13:43] athird commented on #125
@ivanoterouvigo Could you test and update us on the current status of this, please?

[2019-02-06 13:45] athird commented on #132
@michzimny Not clearly, particularly as we're not really going through the Moodle registration process. Could this not be manually recorded by country coordinators, since they do need to authorise schools/teachers anyway (don't they?)? We could then in principle collect numbers of users per-school by looking at enrolment counts for courses associated with teachers from particular schools.

[2019-02-06 13:54] Dimitrispant commented on #94
@athird It works like a charm. If I have any other issues I will contact you.

[2019-02-06 14:09] athird commented on #94
@Dimitrispant Great, thanks!

[2019-02-06 14:09] #94 closed

[2019-02-07 15:16] gytisc opened #137 "Need to activate statistics"
activate "Enable statistics" enablestats checkbox at
https://learn.up2university.eu/admin/settings.php?section=optionalsubsystems

[2019-02-07 23:34] ivanoterouvigo commented on #76
Hi @athird

I've just checked this configuration creating some forums again.
This is the feedback.

at   --> learn.test.up2university.eu **(MTP)**
I still didn't receive any emails. So, I guess it doen't work.
and
at   --> learn.up2university.eu **(MPP)**
Although I received the emails with delay. It works

I hope this help

[2019-02-07 23:42] ivanoterouvigo commented on #125
Sorry @athird, I was not able to test this because I had other error before.

Here you are.

![pr_001](https://user-images.githubusercontent.com/11814769/52450213-625efa80-2b3a-11e9-8fbb-d0d1754f6bae.png)

[2019-02-08 14:04] michzimny commented on #76
@athird, @msbachler - are SMTP settings persistified anywhere? I cannot find the settings in env repository.

[2019-02-08 14:43] athird commented on #128
@gtoffoli We haven't yet enabled SCORM as there are some mixed messages about it in the Moodle community. I see online that Storyline also includes some other export formats - specifically, the more up-to-date xAPI/TinCan launch package format, which, as I understand it, offers the same sorts of feature as SCORM plus more, and is designed to fit the Web security model better.

Would you be able to

[2019-02-10 09:06] andreacorleto opened #138 "database activity missing in moodle production instance"
Could we add database activity (https://docs.moodle.org/36/en/Database_activity) to resources/activity to be used by teachers/students in moodle courses (production instance)? We need it for the Italian Pilot.

[2019-02-11 12:27] gtoffoli commented on #128
@athird Thank you, Allan. I know that SCORM is an old approach, which was born to support CBT, that is individual self-paced learning. LTI and Commons Cartridge are newer IMS standards.
We are interested to the IMS SCORM packaging format, not to the overall SCORM approach. Although Commons Cartridge pretends to cover a much wider variety of learning scenarios, in SCORM packages the content layout

[2019-02-13 09:22] Callustian commented on #81
Hello,
I think it is possible to hide some of the data that are related to a course participant (like email address) from the list of users. Is it acceptable to do this instead of hiding the list of all users?
Admittedly I haven't tried this in combination with enabling a course creator to also edit the course.
What is you opinion, if I may ask?
Thanks.

[2019-02-13 12:21] Callustian commented on #81
@nadavkav, @michzimny @athird, any opinion? Thanks.

[2019-02-13 12:34] nadavkav commented on #81
@Callustian I am not deeply familiar with the EU GDPR regulation regarding what exactly is needed to hide  to get the proper privacy about the user's details.
Moodle security settings allow an admin to hide the email (and other user properties) from all the UI and pages where a list of users is displayed. It's not only from the enrolment dialog, but from all lists (grading book, assignment grading

[2019-02-13 14:34] Callustian commented on #81
@nadavkav and @athird:
My level of experience of moodle is very low, therefore I apologise if this is obviously wrong to you.
I learn you can disable the participants page for teachers, users, and so on (`Home/Courses/<course name>/Users/Permissions View Participants`).
You can still list the enrolled people. However, the page contains only the email if I understand properly.
*if* this satisfies:

[2019-02-15 14:45] michzimny opened #139 "Moodle instances are not writing data to LRS"
It seems that the production and pedagogy instances of Moodle are not writing learning data to Learning Locker. However, the test (dev) instance does it. Credentials (in */logstore_xapi.env in the env repo) seem to be fine for all instances.

As far as I know, sending the data to LL should be initiated by cron every night.

Could you please check it?

[2019-02-15 15:03] michzimny commented on #81
@andreacorleto, who could answer that? I think it depends on what we say in the privacy notice.

[2019-02-15 15:31] Callustian commented on #81
@michzimny : Thank you for your comment. @nadavkav answered to this question saying that it is possible to hide the data on the entire site, and possibly this is not what we want.
The latest suggestion I have is: it is possible to hide the list of participant from

[2019-02-15 15:36] Callustian commented on #81
Sorry. I didn't mean to end the conversation. I think I need to discuss my findings with @athird

[2019-02-18 15:38] #132 closed

[2019-02-18 15:40] michzimny commented on #107
@athird, I'm not sure I understood you. Will you enable it to all previously-existing courses? It's still missing. For instance for https://learn.up2university.eu/course/view.php?id=8

[2019-02-18 17:58] ivanoterouvigo commented on #107
Hi everyone,

The enroll code plugin doesn't work as expected at production moodle platform.

I mean.
If you add the block with this funcionality on the course as you can see here.

![moodle_error_code_000](https://user-images.githubusercontent.com/11814769/52968542-d789c580-33ad-11e9-9975-1589ab30a2ca.png)

You are not able to invite other users to log into this course with a code.

However, you

[2019-02-20 08:02] andreacorleto commented on #81
I think it is possible to hide some of the data that are related to a course participant (like email address) from the list of users. Is it acceptable to do this instead of hiding the list of all users?
 @andreacorleto, who could answer that? I think it depends on what we say in the privacy notice.

I agree with @michzimny , it can depend on what we say in the privacy notice. Hide data related to

[2019-02-20 08:14] gytisc commented on #139
There is an error in configuration.
Learning Locker Key corresponds to User in Moodle and Secret - to Password but in https://learn.up2university.eu/admin/settings.php?section=logsettingxapi  they are used in wrong fields.

[2019-02-20 11:15] michzimny commented on #139
@gytisc, thanks for checking.

I just fixed the configuration for production (in the instance directly and in the env files) and manually forced sending data to LRS (by `php /var/www/html/admin/cli/cron.php`). It seems it works, i.e. LL has some records from prodcution now. We need also to check whether the cron script works automatically.

However, sending data to LRS does not still work for the

[2019-02-20 11:31] michzimny commented on #107
@Callustian, @athird, @msbachler - this issue seems to be very critical now as it prevents user to enrol in the production instance. Could you please have a look?

[2019-02-20 12:01] michzimny commented on #139
I was wrong in this statement above. It did not hang, it just submitted records to LRS very slowly. And now, in LRS, I see some recent data coming from the pedagogy instance. It still needs to be checked why it does not heppen automatically (by cron).

[2019-02-20 15:01] Callustian commented on #139
@michzimny From ( https://docs.moodle.org/36/en/Cron ) I suggest to examine what the crontab contains. Shall I send you my ssh public key?

[2019-02-20 16:15] Callustian commented on #107
@michzimny I am adding the "Easy enrolments" method to the production instances.

I apologise, I am new to the tool. I might have accidentally reset the course "Guida all'utilizzo dei tool Up2u" (Italia). I don't know whom to tell this. Could you please ask the proper person to check and give her or him my apologies?

[2019-02-20 16:32] Callustian commented on #107
@michzimny I think I finished the task.
Apologies if there is some course missing. do not hesitate to contact me in case of any issue.

[2019-02-20 16:53] Callustian commented on #107
@ivanoterouvigo : Hi Ivan. Did the change I made solve your problem?

[2019-02-20 17:35] ivanoterouvigo commented on #107
Hi @Callustian:

Yes it solves on the **_production platform. (learn.up2university.eu)_**
Now, what ever course I want to create, it has the configuration of enroll code and all old courses created that I checked had this enroll code configuration.
But it doesn't let me enroll manually other users. Is it the expected behaviour?

On another hand, I've just reviewed the **_test platform, I mean, (le

[2019-02-20 20:11] michzimny commented on #107
@ivanoterouvigo, as far as I know, it's expected.

(...). However some old courses created don't let enroll users in anyway.

@Callustian, could you please fix also the courses in those mentioned instances?

@Callustian, please explain what do you mean by "reset".

[2019-02-20 20:16] michzimny commented on #139
Yes, please do so.

Crontab probably contains this contents: https://github.com/up2university/docker-moodle/blob/develop/moodle/crontab
which is added here https://github.com/up2university/docker-moodle/blob/develop/moodle/Dockerfile#L187

[2019-02-21 08:49] Callustian commented on #107
@michzimny I accidentally selected:
![image](https://user-images.githubusercontent.com/6752225/53155733-9237e480-35b5-11e9-9dab-6ca283e99e13.png)

[2019-02-21 08:51] Callustian commented on #107
@michzimny I shall add the enrolment method to the instance mentioned. Thanks for answering to Ivan

[2019-02-22 14:28] Callustian commented on #107
@michzimny I added the enrolment method to ( learn.test.up2university.eu ). I should have changed the method for all of them. Apologies if I skipped any. If that is the case, please post the name of the course (Maybe creating a new ticket?)
Thanks.

[2019-02-25 09:07] Callustian commented on #139
@michzimny Thew crontab of the production instance contains:
```0 1 * * * php /var/www/html/admin/cli/cron.php``` as you suggested.

[2019-02-25 10:37] Callustian commented on #139
@michzimny the system does not seem to generate error emails. Could you please write the steps I have to do to replicate the problem? Thanks.

[2019-02-26 10:48] michzimny commented on #139
@Callustian, the issue is that learn.test.up2university.eu does not send xAPI statements to the LRS. It can be seen at the LRS side - https://lrs.test.up2university.eu/organisation/59f66e62adf90f001e6ad88a/data/source - as "Store" please choose "learn.test.up2university.eu". You will get no events from last days.

On the Moodle side, the cron script is responsible for doing this at night. When I r

[2019-02-26 11:34] michzimny commented on #81
The current status is that @Dimitrispant is course creator in a category in the production instance. He created a course, and is not enroled to the course, and cannot do nothing with the course.

It is still the same what I described in the first comment here.

This is very critical as we have users, for which we need to enable this flow.

[2019-02-26 12:39] Callustian commented on #81
@michzimny I logged to the

dev            https://learn-dev.test.up2university.eu/
teachers       https://learn.test.up2university.eu/

machines. The standard role for a course creator is editing teacher. I don't know if a course creator of a production machine is also a teacher since I would need to log as administrator. At the moment I have a student account for the production machine.
If the s

[2019-02-26 12:57] Callustian commented on #81
Hi @michzimny . I am able to log to the production machine and I can confirm that the standard role for course creators is editing teacher. Could you ask @Dimitrispant how I could replicate the issue (I would try on the dev machines). Thanks.

[2019-02-26 13:24] Callustian commented on #81
Hi @michzimny .Would a Manager self-enrolment with key solve @Dimitrispant 's problem? I could create a self-enrolment method for user's with a key. This seems a good solution to me. What do you think?

[2019-02-26 13:27] Dimitrispant commented on #81
@Callustian Regarding the issue, I was a course creator on a specific category (Pilot Countries/Demo) on the production instance. So when I created a new course, I was not enrolled on this and I had to be enrolled by an administrator with the enrollment code. When I was finally enrolled with the enrollment code, I was just a student.

[2019-02-26 15:38] Callustian commented on #81
Hi @Dimitrispant, Thank you for your reply. It is possible to create a self enrolment method for course creators.

However I think I understand now the things this ticket asks. A category with a course of course creators doesn't allow a course creator to edit a created course. So it is not possible to enrol anyone. I am puzzled. However I am working to solve this.

[2019-02-26 15:41] Callustian commented on #81
@Dimitrispant If you want to change role on that course I think I can customise this. I could add some keys for other people to enrol with a manager role, if needed. However, I have to solve this problem more generally.

[2019-02-26 16:40] Callustian commented on #81
@michzimny This ( https://moodle.org/mod/forum/discuss.php?d=338370 ) seems to work [last comment].

I enabled the proper enrolment for
dev            https://learn-dev.test.up2university.eu/
teachers       https://learn.test.up2university.eu/

I have not enabled the enrolment for production. Shall you do this, or do you want me to enable the proper enrolment?
Thanks.

[2019-02-27 09:04] Callustian commented on #52
@michzimny @msbachler  It is possible to change the settings of a category. Deleting all elements (student, teacher, master, ...) of "HomeCategory: <category> categoryPermissions View Participants" as Administrator forbids a user to list the participants. I think this answers the requirements.

[2019-02-27 10:04] michzimny commented on #81
@Callustian, please enable the enrolment of course creators also for production.

Next, we would need to persistify this new configuration in the env files not to lose these changes after deployments.

[2019-02-27 10:50] Callustian commented on #81
@michzimny I have enabled the enrolment of course creators for production and I am starting to make the code changes to persist the setting.

[2019-03-01 13:50] michzimny commented on #111
@athird, could we ask someone to prepare an upgrade of the logstore_xapi plugin, probably to the latest version?

[2019-03-06 08:44] Callustian commented on #139
@michzimny Thank you for your reply. I think I don't have the privileges to read the Store you suggest. Could you allow me to read the events of 'learn.test.up2university.eu'?

[2019-03-06 10:43] michzimny commented on #139
@Callustian, please check now. I think you earlier had a wrong role assigned.

[2019-03-06 10:55] Callustian commented on #139
@michzimny I can read the data, thanks.

[2019-03-07 11:49] michzimny opened #141 "Change information presented in the front page"
In the Moodle's front page, we currently see section "Available courses". We'd like to remove it.

In addition, in this place in the front page, we'd like to see main available categories, i.e. something like this: https://learn.up2university.eu/course/

This is an approach agreed upon by the MT and it should be applied to all instances.

It should be probably done early next week.

[2019-03-07 14:23] Callustian commented on #141
Hi @michzimny . It seems to me that I can modify this setting for a logged used and a non-logged used. Do I have to modify the setting for both types of user?  Do you want this setting immediately, or should I just persist the setting? Thanks.

[2019-03-07 14:58] Callustian commented on #141
@michzimny I created branch ( https://github.com/up2university/docker-moodle/tree/141_Change_starting_page ). At the moment the branch has only code that change the page for the non-logged user.

[2019-03-07 22:24] michzimny commented on #141
I think we'd like to have this change for both logged and non-logged users.

If you could introduce this setting manually and also persistify it, then it would be the best option. I think we can follow this for all issues as far as you're sure that the persistified version will work properly after deployment.

[2019-03-11 09:49] Callustian commented on #141
Hi @michzimny . I added the persistence settings to the branch, added the settings to the dev and the production machine. I could not change the teacher's machine for the reason that the system does not accept the credentials I use. Any suggestion? Thanks.

[2019-03-11 10:33] Callustian commented on #81
@michzimny I added the code to persist the setting to ( https://github.com/up2university/docker-moodle/tree/Issue_%2381 )

[2019-03-11 17:18] athird commented on #128
@gtoffoli Thank you. The xAPI/TinCan launch protocol does also handle content packaging. If you could please export the same resources from Storyline as both SCORM and as an xAPI/TinCan launch package and send them to me by email, please, then we can test it locally without making changes to any of the Up2U production platforms.

[2019-03-13 12:41] michzimny commented on #141
@Callustian, what do you mean by the teacher's machine? Is it learn.test.up2university.eu? What credentials you mean? SSH? SSO? If SSO, then what do you mean by not accepting?

[2019-03-13 16:04] Callustian commented on #141
Hi @michzimny. I should have posted, apologies. Allan sent me the password. I added the setting also to the teacher's machine.

[2019-03-20 15:33] michzimny opened #144 "New CERNBox credentials"
There are new credentials to connect to CERNBox. I've put them into dev/cernbox.env in the env repository.

I wanted to first test it in learn-dev.test instance. The instance was redeployed. The Moodle-CERNBox integration plugin does not work (message "This request is not valid. Please contact the administrator if this error persists." from CERNBox), but the config is probably broken on the Moodle

[2019-03-21 11:41] athird commented on #144
@michzimny The automatic configuration script keys on CERNBOX_URL to update settings, and this seems to have a new value in dev/cernbox.env, so it will create new instances whenever configure.sh is run. Can you try again, please? The current settings on learn-dev have the old CERNBOX_URL but the new credentials. It doesn't work for me, but I'm not sure if it's cached something somewhere for me. If

[2019-03-22 04:44] gytisc commented on #137
I have activated it manually on the production instance, so you need to include it into dockerized distribution

[2019-03-22 04:53] gytisc opened #145 "Fixing links on the Fordson theme footer configuration"
https://learn.up2university.eu/admin/settings.php?section=themesettingfordson
on the Footer configuration tab need to change following:
add LinkedIn URL   https://linkedin.com/company/up2u-consortium
add Youtube URL   https://www.youtube.com/channel/UCWU-NUiQ4fYVhJc-unUH7FQ
change custom Social Link1 URL  to  mailto:contact@lists.up2university.eu

[2019-03-22 16:39] michzimny commented on #144
I'm not sure what could I try, but that's correct that I've changed CERNBOX_URL. In a moment, I'll send an email to all stakeholders to verify it it's really needed.

[2019-03-27 22:06] gtoffoli commented on #128
@athird I asked the guys that packaged two courses with Storyline to read your post and to export some learning units in different formats. I got their answer only today; they exported an entire course made up of 8 units both as SCORM and in an xAPI format. You can download the units, as a unique compressed file, at the following web addresses
- SCORM: http://www.gp-projects.it/consegne/Up2U-Path-

[2019-04-01 09:20] Callustian commented on #128
@gtoffoli Hello Giovanni.
I tried to upload the course and the system asks for a smaller archive. I made a local archive only using one lesson ("Parole e pensieri" 2-1-1). The system does not display the video, though.
May I ask you to make individual archives for every lesson? At the same time I shall verify if this is a local problem. Thanks.

[2019-04-01 20:55] gtoffoli commented on #128
Hi Callustian, it wasn't me, but a Sapienza supply company, who wrapped the course and made it available for download. Can't you extract the other units yourself from the single compressed archive? Perhaps some units are too large for the current Moodle configuration, but many of them should be less than 10 MB.

[2019-04-02 07:42] Callustian commented on #128
Hello @gtoffoli, thank you for your reply. I am performing the option you suggest. At the moment there is some issue. I shall post as soon as I make some progress.

[2019-04-02 10:05] athird commented on #144
Pending updates to the Moodle ownCloud plugin and/or the CERNBox test deployment.

[2019-04-02 10:25] athird commented on #125
@rubenrua Could you email me the right credentials to be used for PR on the production instance, please? I think the above error shows that we have the wrong ones?

[2019-04-02 10:36] athird commented on #110
@michzimny The "All Courses" button works now; I'm not sure what the options are with regard to the requested categorisations. I suspect it isn't possible to list by discipline across categories, is it? Perhaps per-school subcategories within pilot country categories might help - either way, I think this is a WP7 decision. :-)

[2019-04-02 10:50] athird commented on #76
@ivanoterouvigo Is this still showing the same behaviour?

[2019-04-02 15:26] Callustian commented on #118
@athird @ivanoterouvigo It seems this is not a problem, using the current version of Moodle.

[2019-04-08 09:00] michzimny commented on #110
@athird, yes, I think it's already considered done by the category tree managed by particular national pilot coordinators.

[2019-04-08 09:00] #110 closed

[2019-05-01 14:41] athird opened #150 "Moodle VPL plugin"
We've had a request for the Moodle VPL plugin - I'm not sure exactly what it is, maybe this one: https://moodle.org/plugins/mod_vpl?

I'll ask António to confirm details, and we can use this issue to track it.

[2019-05-02 08:56] ivanoterouvigo commented on #150
Hi Allan,

This Moodle VPL plugin is a suggestion from Antonio and Mariolio Cardoso.
This last one used it in their class.

This is also other reference.
https://vpl.dis.ulpgc.es/

Could you push this request in order to implement some content with this plugin as soon as possible?

Thanks in advance.

[2019-05-08 15:03] michzimny commented on #111
@gtoffoli, could you please decide or assess whether it's needed to upgrade this plugin in Moodle?

[2019-05-09 12:50] gtoffoli commented on #111
@michzimny, @athird, @nadavkav, I don't know how much this is important. From https://github.com/xAPI-vle/moodle-logstore_xapi it seems that during the last 4-8 months there were only a few (minor?) bug fixes.
Rather, I have other questions:

- what do you think about my remarks (https://github.com/up2university/DSpace/issues/4) on the current implementation of the xAPI integration of DSpace? ther

[2019-05-10 10:47] nadavkav commented on #111
@gtoffoli , looking at the list of changes in moodle-logstore_xapi from the UP2U version (2.2.3)
https://learn.up2university.eu/admin/plugins.php?updatesonly=0&contribonly=1
to the latest (4.2.5) version:
https://github.com/xAPI-vle/moodle-logstore_xapi/releases
It seems like a lot of important changes.
I advise upgrading the plugin.

H5P xAPI events can not be used directly. When used in Moodle,

[2019-05-10 11:01] Callustian commented on #111
@gtoffoli Thank you for your message, @nadavkav Thank you for your reply.

Out team is making 2 releases ready. One shall add several fixes to the current version of Moodle, and the other one shall change the version of Moodle to 3.6.2.

Moodle 3.6.2 has version 4.2.2 of Logstore xAPI. Therefore if this is not the version you need, I shall have to add the version of Logstore xAPI you need to a rel

[2019-05-10 13:33] gtoffoli commented on #111
@nadavkav Thanks for all answers. Ok, I was wrong about the need of having an upgrade of the logstore_xapi plugin. As to DSpace, it wasn't me who added xAPI support; rather, I expressed some doubts about the way it was done.
@Callustian Sorry, but I am not able to choose; I'm not familiar with Moodle, its releases and the compatibility of the versions of its plugins.

[2019-06-01 12:17] ivanoterouvigo commented on #118
@Callustian @athird
I've just check and I found some problems with h5p in the production platform.

![QA-testing-H5P](https://user-images.githubusercontent.com/11814769/58748352-c4d85f80-8477-11e9-8ea6-6473701b1b17.png)

The problem is the same we had at the begining of this post.

[2019-06-02 02:43] ivanoterouvigo opened #151 "Unexpected behavior after intalling extension Poddium"
First time you try to use Poddium you need to install the extensión, as you can see in the next image. (Poddium_000.png)

![Poddium_000](https://user-images.githubusercontent.com/11814769/58756019-381db800-84f0-11e9-937a-a14b8c389cf6.png)

After installing this extensión you are out of the moodle instances. Both production and test instances.

I think the expected behaviour could be:

**Option 1 )

[2019-06-02 02:53] ivanoterouvigo opened #152 "Change name Personal Recorder in all places by Poddium"
Hi everyone!

I saw some place where the old name Personal Recorder appear. Maybe it is a good moment to change by Poddium

I show you some instances.

![Poddium_001](https://user-images.githubusercontent.com/11814769/58756129-5b496700-84f2-11e9-874a-bc03f9341040.png)

Regards

[2019-06-02 03:06] ivanoterouvigo opened #153 "Change default configuration of video (From public to hide)"
When you begin to record yourselft, it is likely you don't want to publish the first demo videos.

So I suggest to change default configuration fo video from public to hide.

At least to ask if you want to made the video public or not after recording it.

[2019-06-02 03:26] ivanoterouvigo opened #154 "ERROR after recording with Poddium as Teacher in Production instance"
Hi everyone,

I found an error when you record a video and this video is directly load on the moodle space.
I've checked the test instance and it works fine but in the production platform not.

Here you the image.
![Error_showing_video_recording](https://user-images.githubusercontent.com/11814769/58756319-85048d00-84f6-11e9-9670-c21e8c020f3e.png)

Regards

[2019-06-02 03:40] ivanoterouvigo opened #155 "Do not exist buttoms if I change editor preferences. Buttoms for accessing to EduOER and Poddium services."
Hi everyone,

Do not exist buttoms if I change editor preferences. Buttoms for accessing to EduOER and Poddium services.

This happens when I change editor preferences. If I use any editor and this is not the default one, the buttoms for accessing to EduOER and Poddium don't appear.
I show you one image below.

![Poddium_002](https://user-images.githubusercontent.com/11814769/58756433-e3cb0600-84f

[2019-06-02 03:55] ivanoterouvigo opened #156 "Extension for Poddium not only with chrome if also for Firefox, at least"
Hi everyone,

There many teachers and students that use firefox as main browser.
So I deeply suggest extensión for firefox browser.

![OnlywithChrome](https://user-images.githubusercontent.com/11814769/58756531-791aca00-84fa-11e9-88c9-27d881f64a06.png)

Regards

[2019-06-03 08:08] Callustian commented on #118
Hi @ivanoterouvigo , @athird
The teachers' machine contains a 1.17.2 version of h5p. Currently a QA team is verifying the release. I did not make changes to the production machine.
Furthermore I am a bit puzzled, ( https://moodle.org/plugins/pluginversions.php?plugin=mod_hvp ) tells us that the latest version of h5p is 1.18.
I accept suggestions.
Thanks.

[2019-06-03 08:23] ivanoterouvigo commented on #118
Hi @Callustian,

Could you check if this issue happens in moodle test platform (MTP)? Because, I made the same demo test in both platforms and the only problem was when I tried in MTP.

Maybe not suggestions but more info about h5p.
H5P release history
https://h5p.org/h5p-release-history

and if you think it is need we could type a cuestion here
https://github.com/h5p/h5p-php-library

in order to

[2019-06-03 08:37] Callustian commented on #118
Hi @ivanoterouvigo ,

I don't experience the problem trying on the teacher's machine. Could you send the package you try to upload?

Thanks.

![image](https://user-images.githubusercontent.com/6752225/58788095-19e4b480-85e3-11e9-8ef2-21a1c1e871ba.png)

[2019-06-03 08:52] ivanoterouvigo commented on #118
Hi @Callustian,

Yes, here you are.

[example-content-virtual-tour-360-441814.zip](https://github.com/up2university/docker-moodle/files/3246652/example-content-virtual-tour-360-441814.zip)

Unzip the package before use it.

I've just checked now and It had the same issue.

Regards

[2019-06-03 09:00] Callustian commented on #118
Hi @ivanoterouvigo ,

I apologise, the problem does not occur on the teachers' machine ( https://learn.test.up2university.eu ),

![image](https://user-images.githubusercontent.com/6752225/58789465-19015200-85e6-11e9-8554-7fb839121517.png)

 Production's machine's version is not 1.17.2

Regards

[2019-06-03 09:08] ivanoterouvigo commented on #118
Hi @Callustian

I apologize for missundertanding.

Your teacher's machine = **Moodle Test platform (MTP)**
https://learn.test.up2university.eu
It works fine

**Moodle production platform (MPP)**
https://learn.up2university.eu
It doens't work

[2019-06-03 09:15] Callustian commented on #118
Hi @ivanoterouvigo

No problem. There is a QA team that is verifying the release on the Moodle Test platform. If the release work as expected I shall also change production.

If you want to verify Poddium or other apps, please use the Moodle test platform.

Thanks.

[2019-06-04 11:10] vgoya commented on #151
Hi Ivan, This is not the right place for this issue. We will never find it here.

Issues related with the Poddium Recorder should be file in this other repo: https://github.com/teltek/PuMuKIT2-up2u-pr-bundle/issues

Please, move your issues related with Poddium to the right repo. Thank you in advance

Right places for Up2U Issues are listed here: https://wiki.geant.org/display/UP2U/Issue+tracking

[2019-06-05 07:23] ivanoterouvigo commented on #151
Hi @vgoya,

I've just move this issue to your repository.
I apologize, I had a missunderstanding.

[2019-06-07 09:34] andreacorleto commented on #118
@Callustian @ivanoterouvigo
In the test instance (Moodle 3.6.2 version) H5P works fine even when uploading h5p files from local computer (not generating h5p contents into moodle).

[2019-06-18 11:36] Alfro commented on #152
As this issue is related to the personal recorder, a duplicated issue was opened on the relevant project (
https://github.com/teltek/PuMuKIT2-up2u-pr-bundle/issues/23). However, this particular change involves simply a configuration change on the Moodle instance.

The change in question consists on changing the (atto_pumukitpr | dialogtitle) from "Add PersonalRecorder video"  to "Add Poddium video

[2019-06-18 11:49] Alfro commented on #154
Hi guys,

This could be an issue on our side (From: https://github.com/teltek/PuMuKIT2-up2u-pr-bundle/issues/25), but in order to reproduce this issue we need a teacher account on the production platform (as it apparently is not reproducible on the test instance).

@athird Could someone upgrade access to teacher for some of our accounts?

Apologies if I'm adressing the wrong person here.

Regards,

[2019-06-18 12:09] athird commented on #154
@Alfro I think I've made you a course creator in the Test category on production - you should be able to create a course in that category and be a teacher on it. Let us (me and @Callustian) know if there are any problems. Cheers, Allan

[2019-06-20 11:32] Yurujai opened #159 "Add PuMuKIT Label module"
To make the UX better we want to install the new PuMuKIT Label module which provides a new resource with the access  to Poddium.eu.

This new module makes creating new content with Poddium.eu videos faster.

[2019-07-23 15:48] Alfro commented on #154
Hi, @athird @ivanoterouvigo  it seems with the latest update this issue does not happen on the production instance.

I have tried creating a course and recording and I can see it without issue: https://learn.up2university.eu/enrol/index.php?id=122
(granted, it seems adding a video to the course description is not)

I'd close this and reopen if the issue can still be reproduced. (I don't seem to ha

[2019-07-24 16:59] michzimny opened #162 "Moodle statistics module"
Please install https://github.com/up2university/moodle_statistics

Find details in an email from Gytis from 24th July.

[2019-07-30 07:51] Callustian commented on #139
Hi @michzimny. Is this a problem using Moodle 3.6.2?

[2019-07-30 11:34] michzimny commented on #139
I will check it and report here.

[2019-07-31 10:54] Alfro commented on #152
Hi! @Callustian @athird

I see the change of title was accepted, but it doesn't seem to have been deployed to neither moodle instance.

[2019-07-31 10:59] Alfro commented on #151
The issue this duplicates
was closed by us: https://github.com/teltek/PuMuKIT2-up2u-pr-bundle/issues/22

We have improved Poddium to not require an extension, so this issue is obsolete now and can be closed.

[2019-07-31 11:02] Alfro commented on #153
This issue is a duplicated of: https://github.com/teltek/PuMuKIT2-up2u-pr-bundle/issues/24
As this issue does not belong in this repo (and the one corresponding to Poddium was closed by use) I think it can be closed.

[2019-07-31 11:03] Alfro commented on #155
Moved to correct repo: https://github.com/teltek/PuMuKIT2-up2u-pr-bundle/issues/26
Closed there. I think it can be closed here as well.

[2019-07-31 11:06] Alfro commented on #156
Duplicated of: https://github.com/teltek/PuMuKIT2-up2u-pr-bundle/issues/10
I think we should close this one. We will continue posting updates of this on the correct issue.

[2019-07-31 14:49] Alfro commented on #125
Hi @athird
I think the credentials are already correctly configured, as I can open the Atto plugin (Tried on #154)

Could you check it and maybe close the issue?

[2019-07-31 14:51] Alfro commented on #101
Hi @athird

Like with #125, this should probably be fine now.

[2019-08-01 08:22] Callustian commented on #152
@Alfro ( @athird  )Adding a change to the repositories implies a request for the QA team to verify that the change did not create problems. This change is part of rel 004, if this is acceptable to you.

[2019-08-01 12:56] #101 closed

[2019-08-01 13:16] #151 closed

[2019-08-01 13:18] #153 closed

[2019-08-01 13:20] #155 closed

[2019-08-01 13:40] #125 closed

[2019-08-02 08:24] michzimny commented on #139
@Callustian, it still does not work. In production, last statements in LL come from 2019-07-19. In pedagogy, last statements in LL are 5 months old.

You can check it under the following URLs, first choosing a store:
https://lrs.up2university.eu/organisation/5c3780df2be65f001b3eb275/data/source
https://lrs.test.up2university.eu/organisation/59f66e62adf90f001e6ad88a/data/source

[2019-08-02 12:46] michzimny opened #165 "Students unable to add activities/resources"
This is a change or feature request. We'd like to have a solution within upcoming weeks, please.

In pilots, teachers ask to enable some chosen students to create activities and resources, especially H5P activities, in teachers' courses. This is needed for student collaboration, i.e. students should be able to create such objects in a course, and the obejcts should be accessible by other students

[2019-08-05 07:44] Alfro commented on #156
teltek/PuMuKIT2-up2u-pr-bundle#10 closed. Firefox support already available @michzimny  @Callustian

[2019-08-05 07:50] Alfro opened #166 ""The hash is not valid" in test Moodle instance."
The test instance had the wrong PuMuKIT password and thus was generating the wrong hashes. I have just corrected the credentials and sent them to @athird to keep it from changing after the automatic deployment. Please close the issue when the file with the environment variables is corrected.

[2019-08-06 14:18] Callustian commented on #165
@michzimny I suggest "creation supervisor"

also ( @athird and @andreacorleto )

[2019-08-06 14:36] michzimny commented on #165
Thanks. I think it would not be intuitive that "creation supervisor" is a student. This name sounds like something very serious...

Andrea and I prefer "editing student". Or at least sth like: "<something> student" to explicitly show that it's meant for more privileged students.

[2019-08-08 11:35] Callustian commented on #165
I shall use "editing student", as you propose.

[2019-08-21 10:49] michzimny commented on #165
Just for the record, the conclusion from emails:

[2019-09-04 09:41] badirova opened #173 "Videos that are included from eduOER are not visible"
Videos that are included from eduOER are not visible on the course page. Text is there, but no clue for included videos.
E.g. this link should have contained a video which is not there.
https://learn.test.up2university.eu/mod/page/view.php?id=2189

[2019-09-04 10:04] badirova opened #174 "DSpace "Push to Up2U repository" issue"
"Add an activity or resource"  part when a user chooses a file and "Push to Up2U Repository" the system status is not visible (whether it was successful or not).
![Push to Repo](https://user-images.githubusercontent.com/43417266/64245844-001d7b00-cf0c-11e9-810b-13d947c0a223.png)

[2019-09-05 09:14] Dimitrispant opened #175 "Log-out link redirects to PODDIUM"
When a user logs out from the test instance of the Up2U Leanring Platform, he is redirected to the PODDIUM Webpage

[2019-09-16 09:51] Callustian commented on #173
Hello. The pumukit endpoint "PuMuKIT (Atto)" returns a 500. The dialog to add a video is completely blank. I am unsure of the person I should contact. Thanks for your help.

[2019-09-16 10:10] Callustian commented on #174
@badirova Could you please tell us the URL of the machine you are using? Thanks.

[2019-09-16 10:13] Callustian commented on #175
Hi @Dimitrispant . I do not experience the problem. Could you send us the steps and the URLs you use? Thanks.

[2019-09-16 10:21] Dimitrispant commented on #175
@Callustian Now it works as expected, so the problem is solved in away.

Regarding the steps, these were the steps I have followed:
1. I used the test instance of the Up2U Learning Platform (learn.test.up2university.eu)
2. I registered on the Up2U learning Platform, with a gmail account.
3. When I tried to log out from the platform, by pressing the log-out link from the drop-down menu on the right

[2019-09-16 10:27] Callustian commented on #175
Hi @Dimitrispant . Thank you for your reply. Please close the issue.

[2019-09-16 10:34] #175 closed

[2019-09-17 07:26] badirova commented on #174
https://learn.test.up2university.eu/course/view.php?id=251

[2019-09-17 08:17] badirova opened #178 "Uploaded videos are not visible in course section"
"Add activity or resource" -> Page : Video is successfully uploaded, but is not visible in the course page. It is available in "My Videos".

https://learn.test.up2university.eu/mod/page/view.php?id=2201

![Screenshot 2019-09-17 at 10 13 15](https://user-images.githubusercontent.com/43417266/65023890-11b34980-d934-11e9-98dd-e610792f0285.png)

![Screenshot 2019-09-17 at 10 14 17](https://user-images

[2019-09-20 10:32] Dimitrispant opened #179 "Activation of the questionnaire plugin on the test Instance"
@Callustian I just checked the test instance of the Up2U learning platform (learn.test.up2university.eu) and I saw that the Questionnaire plugin was not present:

![image](https://user-images.githubusercontent.com/13375110/65320588-dd958e00-dbaa-11e9-983e-4b2cf10ea07a.png)
We are using the test instance for our training and it would be useful for us to have it on the test instance. On the producti

[2019-09-20 11:11] Callustian commented on #179
Hi @Dimitrispant . The plugin is part of the next release that I should have done yesterday. Unfortunately a technical problem occurred and I couldn't do the release. Is it possible for you to wait until the next release (G-d willing a few days)?

[2019-09-20 11:23] Dimitrispant commented on #179
@Callustian I think that we can wait for a couple of days

[2019-09-20 11:28] Callustian commented on #179
@Dimitrispant Thanks.

[2019-10-02 13:50] Callustian opened #180 "Issues adding teachers"
On the production machine:

"
Permissions within Portugal category are under the control of the category manager

However we can add teachers and also a local teacher reported that can not add other non editing teachers.

"

[2019-10-10 14:58] Callustian opened #182 "Cernbox hidden (production)"

[2019-10-10 15:36] Callustian opened #183 "Category to verify issues"
This could exist on production and also the other machines.

[2019-10-14 15:41] gtoffoli commented on #139
@Callustian, do you have any idea when Moodle will start sending xAPI statements to LL again? As you know, last statement from the production instance dates back to 19 July. Are you waiting for the logstore_xapi plugin extension to be completed? Thank you!

[2019-10-14 22:20] gtoffoli commented on #128
@Callustian, Hi Pasquale,
I see some progress, but now, if I try to upload SCORM learning objects, I get the following Alert message: "Invalid course module ID".

I suspect that the problem is no more specific to the SCORM modules: it seems that a similar problem, occurring when deleting a course or importing quizzes, has been fixed with Moodle version 3.6; is current installed version 3.5? Thanks

[2019-10-21 16:56] ivanoterouvigo opened #184 "Update of the H5P plugin"
Hi @Callustian,

I've just tried to use an h5p instance and it seems to be not updated.

Please could you check this issue?

I received this message. (See attached image)

![error_dragydrop_001](https://user-images.githubusercontent.com/11814769/67225903-4d11ce00-f434-11e9-9b83-a122ad89e2a7.png)

Thanks in advance

[2019-10-25 08:53] Callustian commented on #128
@gtoffoli Hi Giovanni. Thank you for your post. The version of Moodle we use is 3.6.2.

[2019-10-25 09:45] Callustian commented on #178
Hi @badirova . To add a video you have to select the "publish to LMS" button.

![image](https://user-images.githubusercontent.com/6752225/67561288-72dcf280-f714-11e9-9405-69a58f07e3c8.png)
 If this is the problem, could you please close the issue? Thanks

[2019-11-03 13:15] ivanoterouvigo commented on #184
Hi all!
@michzimny , @Callustian , @athird
I am still unabled to use this feature of H5P.

Could your update this plugins, please?

Thanks in advance.

[2019-11-04 09:51] Callustian commented on #184
Hi @ivanoterouvigo . Thank you for your posts. The current version of the plugin is 1.20 ( https://moodle.org/plugins/pluginversions.php?plugin=mod_hvp ) and ( https://github.com/h5p/h5p-moodle-plugin ).Our  moodle uses the version of 2019.03
I am unsure how the system could ask you for version 1.23.
I could try the plugin of the end of October on dev (v1.20). Could you send me the package you are

[2019-11-04 09:59] Callustian opened #185 "Teachers cannot add non-editing teachers"

[2019-11-04 10:54] Callustian opened #186 "Change VPL version"
Moodle has erased the vpl version our team uses. We should download the plugin from GitHub (  https://github.com/jcrodriguez-dis/moodle-mod_vpl/archive/bc98f46fcac852d1d237a5ed700fe4030b385aa9.zip ) instead.

[2019-11-14 13:22] Callustian commented on #182
The issue seems solved. Thanks.

[2019-11-14 13:22] #182 closed

[2019-11-14 13:25] Callustian opened #194 "Dspace issues on production"
Dspace has issues on production.

[2020-04-16 19:24] michzimny opened #199 "Replacing SMTP settings in all three Moodle instances"
The SMTP settings we currently use in all three 'regular' Moodle instances have been suspended.

Please update SMTP settings to new ones that I'm sending you by mail.

[2020-04-22 14:57] Callustian commented on #199
I added the credentials to our credential repository and changed them on the machines.

[2020-04-22 14:57] #199 closed, assigned to Callustian, athird